<app-caminho-menu></app-caminho-menu>
<br>

<!-- DESKTOP -->
<div class='table-responsive desktop'>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','entradas']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src="/assets/images/ia/entradas.jpg" class="figure-img img-fluid rounded" alt="Entradas">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','refeicoes']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/refeicoes.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','saladas']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/saladas.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','porcoes']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/porcoes.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','lanches']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/lanches.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','salgados']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/salgados.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','sobremesas']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/sobremesas.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','bebidas']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/bebidas.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- LAPTOP @media(min-width: 993px) and (max-width: 1399px)  -->

<div class='table-responsive laptop'>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','entradas']" class='btn'>
          <img src='/assets/images/ia/entradas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','refeicoes']" class='btn'>
          <img src='/assets/images/ia/refeicoes.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','saladas']" class='btn'>
          <img src='/assets/images/ia/saladas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" class='btn'>
          <img src='/assets/images/ia/porcoes.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','lanches']" class='btn'>
          <img src='/assets/images/ia/lanches.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','salgados']" class='btn'>
          <img src='/assets/images/ia/salgados.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','sobremesas']" class='btn'>
          <img src='/assets/images/ia/sobremesas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','bebidas']" class='btn'>
          <img src='/assets/images/ia/bebidas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- LAPTOP2 @media(min-width: 768px) and (max-width: 992px) -->

<div class='table-responsive laptop2'>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','entradas']" class='btn'>
          <img src='/assets/images/ia/entradas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','refeicoes']" class='btn'>
          <img src='/assets/images/ia/refeicoes.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','saladas']" class='btn'>
          <img src='/assets/images/ia/saladas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" class='btn'>
          <img src='/assets/images/ia/porcoes.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','lanches']" class='btn'>
          <img src='/assets/images/ia/lanches.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','salgados']" class='btn'>
          <img src='/assets/images/ia/salgados.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','sobremesas']" class='btn'>
          <img src='/assets/images/ia/sobremesas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','bebidas']" class='btn'>
          <img src='/assets/images/ia/bebidas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- TABLET @media(min-width: 576px) and (max-width: 767px) -->

<div class='table-responsive tablet'>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','entradas']" class='btn'>
          <img src='/assets/images/ia/entradas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','refeicoes']" class='btn'>
          <img src='/assets/images/ia/refeicoes.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','saladas']" class='btn'>
          <img src='/assets/images/ia/saladas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" class='btn'>
          <img src='/assets/images/ia/porcoes.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','lanches']" class='btn'>
          <img src='/assets/images/ia/lanches.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','salgados']" class='btn'>
          <img src='/assets/images/ia/salgados.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','sobremesas']" class='btn'>
          <img src='/assets/images/ia/sobremesas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','bebidas']" class='btn'>
          <img src='/assets/images/ia/bebidas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div> 

<!-- mobile @media(min-width: 380px) and (max-width: 575px) -->
  
<div class='table-responsive mobile' style=" margin-left: 0.5em;">
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <a [routerLink]="['/produto','entradas']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src="/assets/images/ia/entradas.jpg" class="figure-img img-fluid rounded" alt="Entradas" width="120" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
      <figure class="figure">
        <a [routerLink]="['/produto','refeicoes']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src="/assets/images/ia/refeicoes.jpg" class="figure-img img-fluid rounded" alt="Refeições" width="120" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <a [routerLink]="['/produto','saladas']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/saladas.jpg' class="figure-img img-fluid rounded" alt="Saladas" width="120" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
      <figure class="figure">
        <a [routerLink]="['/produto','porcoes']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/porcoes.jpg' class="figure-img img-fluid rounded" alt="Porções" width="120" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6"  style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <a [routerLink]="['/produto','lanches']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/lanches.jpg' class="figure-img img-fluid rounded" alt="Lanches"  width="120" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
      <figure class="figure">
        <a [routerLink]="['/produto','salgados']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/salgados.jpg' class="figure-img img-fluid rounded" alt="Salgados"  width="120" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6"  style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <a [routerLink]="['/produto','sobremesas']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/sobremesas.jpg' class="figure-img img-fluid rounded" alt="Sobremesas"  width="120" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
      <figure class="figure">
        <a [routerLink]="['/produto','bebidas']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/bebidas.jpg' class="figure-img img-fluid rounded" alt="Bebidas"  width="120" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>



<!-- MOBILE PEQUENO @media(min-width: 316px) and (max-width: 379px) -->

<div class='table-responsive mobile-pequeno'style=" margin-left: 0.5em;">
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <a [routerLink]="['/produto','entradas']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src="/assets/images/ia/entradas.jpg" class="figure-img img-fluid rounded" alt="Entradas" width="100" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
      <figure class="figure">
        <a [routerLink]="['/produto','refeicoes']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src="/assets/images/ia/refeicoes.jpg" class="figure-img img-fluid rounded" alt="Refeições" width="100" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <a [routerLink]="['/produto','saladas']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/saladas.jpg' class="figure-img img-fluid rounded" alt="Saladas" width="100" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
      <figure class="figure">
        <a [routerLink]="['/produto','porcoes']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/porcoes.jpg' class="figure-img img-fluid rounded" alt="Porções" width="100" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6"  style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <a [routerLink]="['/produto','lanches']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/lanches.jpg' class="figure-img img-fluid rounded" alt="Lanches"  width="100" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
      <figure class="figure">
        <a [routerLink]="['/produto','salgados']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/salgados.jpg' class="figure-img img-fluid rounded" alt="Salgados"  width="100" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6"  style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <a [routerLink]="['/produto','sobremesas']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/sobremesas.jpg' class="figure-img img-fluid rounded" alt="Sobremesas"  width="100" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
      <figure class="figure">
        <a [routerLink]="['/produto','bebidas']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/ia/bebidas.jpg' class="figure-img img-fluid rounded" alt="Bebidas"  width="100" height="100">
          </button>
        </a>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>


<!-- MOBILE PEQUENO2 @media(max-width: 315px) -->

<div class='table-responsive mobile-pequeno2'>
  <div class="row">
    <div style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <button [routerLink]="['/produto','entradas']" class='btn'>
          <img src='/assets/images/ia/entradas.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <button [routerLink]="['/produto','refeicoes']" class='btn'>
          <img src='/assets/images/ia/refeicoes.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','saladas']" class='btn'>
          <img src='/assets/images/ia/saladas.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" class='btn'>
          <img src='/assets/images/ia/porcoes.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','lanches']" class='btn'>
          <img src='/assets/images/ia/lanches.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <button [routerLink]="['/produto','salgados']" class='btn'>
          <img src='/assets/images/ia/salgados.jpg' class="figure-img img-fluid rounded" alt="..." width="100"
            height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','sobremesas']" class='btn'>
          <img src='/assets/images/ia/sobremesas.jpg' class="figure-img img-fluid rounded" alt="..." width="100"
            height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <button [routerLink]="['/produto','bebidas']" class='btn'>
          <img src='/assets/images/ia/bebidas.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>