<app-caminho-menu></app-caminho-menu>



<!-- DESKTOP -->

<div class='container desktop'>

  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>
  <table class="table table-bordered table-striped">
    @if (sortedPedidos.length) {

    <thead>
      <tr>
        <th style='width: 5%'> </th>
        <th style='width: 25%; color: #2494fc; font-weight: 500;font-size: 0.8em;'>
          <a (click)="sortPedidosByName()" style="cursor: pointer;">ITEM</a>
        </th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500;font-size: 0.8em;' class="text-center"> QUANTIDADE</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500;font-size: 0.8em;'> OBSERVAÇÃO</th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500;font-size: 0.8em;'> LOCAL</th>
        <th style='width: 8%;  color: #2494fc; font-weight: 500;font-size: 0.8em;' class="text-center">
          <a (click)="sortPedidosByHorarioPedido()" style="cursor: pointer;">HORA PEDIDO</a>
        </th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500;font-size: 0.8em;'> TELEFONE</th>
        <th style='width: 3%;  color: #2494fc; font-weight: 500;font-size: 0.8em;'> CORTESIA</th>
        <th style='width: 18%; color: #2494fc; font-weight: 500;font-size: 0.8em;' class="text-center"> STATUS </th>
      </tr>
    </thead>
    @for (pedido of sortedPedidos; track pedido.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">

        <img [src]='pedido.carrinho.produto.imagem_url' class="figure-img img-fluid rounded" alt="..." width="100"
          height="70">
        <td style='color: #4f63e7; font-weight: 400;'>{{ pedido.carrinho.produto.nome }} </td>

        @if ((+this.telefone == 5511982551256 || +this.telefone == 5599999999998)) {

        <td>
          <div style='align-items: center;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: center;'>
            <a style="width: 1em; margin-top: 0.5em;" (click)='minus(pedido)'>
              <i class="fa fa-minus" style="color:red; padding-right: 8px;"></i>

            </a>
            <input [(ngModel)]='pedido.carrinho.quantidade' name="quantidadeDesktop1" class='form-control; nav-link;'
              type="text" style='width: 3em; color: #4f63e7' (ngModelChange)="atualizarPedido(pedido)">

            <a style="width: 1em; margin-top: 0.5em" (click)="plus(pedido)">
              <i class="fa fa-plus" style="color:green; padding-left: 3px;"></i>
            </a>
          </div>
        </td>
        }
        @else if (
        (i < 5) && ( +this.telefone==5511982551256 || +this.telefone==5599999999998) && (
          pedido.carrinho.status==='Confirmado' ) ) { <td>
          <div style='align-items: center;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: center;'>
            <a style="width: 1em; margin-top: 0.5em;" (click)='minus(pedido)'>
              <i class="fa fa-minus" style="color:red; padding-right: 8px;"></i>

            </a>
            <input [(ngModel)]='pedido.carrinho.quantidade' name="quantidadeDesktop1" class='form-control; nav-link;'
              type="text" style='width: 3em; color: #4f63e7' disabled="" (ngModelChange)="atualizarPedido(pedido)">

            <a style="width: 1em; margin-top: 0.5em" (click)="plus(pedido)">
              <i class="fa fa-plus" style="color:green; padding-left: 3px;"></i>
            </a>
          </div>
          </td>
          }
          @else if(
          (i > 5) &&
          ( pedido.carrinho.status === 'Confirmado')
          ) {
          <td>
            <div style='align-items: center;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: center;'>
              <a style="width: 1em; margin-top: 0.5em;" (click)='minus(pedido)'>
                <i class="fa fa-minus" style="color:red; padding-right: 8px;"></i>

              </a>
              <input [(ngModel)]='pedido.carrinho.quantidade' name="quantidadeDesktop1" class='form-control; nav-link;'
                type="text" style='width: 3em; color: #4f63e7' disabled="" (ngModelChange)="atualizarPedido(pedido)">

              <a style="width: 1em; margin-top: 0.5em" (click)="plus(pedido)">
                <i class="fa fa-plus" style="color:green; padding-left: 3px;"></i>
              </a>
            </div>
          </td>
          } @else {
          <td>
            <div style='align-items: center;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: center;'>
              <input [(ngModel)]='pedido.carrinho.quantidade' name="quantidadeDesktop1" class='form-control; nav-link;'
                type="text" style='width: 3em; color: #4f63e7' disabled="" (ngModelChange)="atualizarPedido(pedido)">

            </div>
          </td>

          }

          <td>
            <textarea [(ngModel)]="pedido.carrinho.observacao" name="observacaoDesktop1" type="text" style='color:red'
              (blur)="atualizarObservacao(pedido)" (ngModelChange)="atualizarObservacao(pedido)" class="nav-link"
              [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
          </textarea>
          </td>

          <td style='color: #4f63e7; font-weight: 400;'>{{ pedido.local }} </td>
          <td style='color: #4f63e7; font-weight: 400;'>{{ pedido.data_criacao | date:'HH:mm:ss'}} </td>
          <td style='color: #4f63e7; font-weight: 400;'>{{ pedido.telefone }} </td>

          <td style='color: #4f63e7; font-weight: 400;'>{{ pedido.isencao }} </td>
          <td class="text-center">
                <button (click)="openPopup( pedido.id! )" 
                        class="my-custom-mini-fab " 
                        matMiniFab 
                        aria-label="Entregar"
                        [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false"
                        >
                    <mat-icon class="my-icon">search</mat-icon>
                </button>
                <button (click)="excluirPedido( pedido.id! )"
                        matMiniFab 
                        class="my-custom-mini-fab" 
                        [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false"
                        aria-label="Excluir pedido">
                    <mat-icon class=" row my-icon">delete</mat-icon>
                </button>
                <button (click)="entregaCreate( pedido.id! )"
                        matMiniFab 
                        class="my-custom-mini-fab" 
                        [disabled]=" (telefone == 5511982551256 || telefone == 5599999999998) && pedido.status == 'Confirmado' ? false : true "
                        aria-label="Entregar">
                    <mat-icon class=" row my-icon">beach_access</mat-icon>
                </button>

            
            <!-- <button (click)="openPopup( pedido.id! )"
              [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
              <img src='/assets/images/lupa.jpg' class="figure-img img-fluid rounded" width="25" height="25"
                title="Editar pedido">
            </button>

            <button routerLink="/pedido/delete/{{ pedido.id }}"
              [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
              <img src='/assets/images/botao-cancelar.jpg' class="figure-img img-fluid rounded" width="25" height="25"
                title="Remover pedido">
            </button>

            <button (click)="entregaCreate( pedido.id! )"
              [disabled]=" (telefone == 5511982551256 || telefone == 5599999999998) && pedido.status == 'Confirmado' ? false : true ">
              <img src='/assets/images/garcon.jpg' class="figure-img img-fluid rounded" width="25" height="25"
                title="Solicitar entrega">
            </button> -->
          </td>
      </tr>
    </tbody>

    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>

<!-- LAPTOP @media(min-width: 993px) and (max-width: 1399px) {-->

<div class='container laptop'>

  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedPedidos.length) {

    <thead>
      <tr>
        <th style='width: 10%'></th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> Quantidade</th>
        <th style='width: 25%; color: #2494fc; font-weight: 500; text-align: center;'> Produto</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> Telefone</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> Local</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500; text-align: center;'> Observacao</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> Cortesia</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> Hora</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;'> Ações </th>
      </tr>
    </thead>
    @for (pedido of sortedPedidos; track pedido.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">
        <img [src]='pedido.carrinho.produto.imagem_url' class="figure-img img-fluid
          rounded" alt="..." width="100" height="70">
        <td>
          <input [(ngModel)]="pedido.quantidade" type="text" name="quantidadeLaptop1" style='color: red; width: 60px'
            (ngModelChange)="atualizarPedido(pedido)" class="nav-link"
            [disabled]=" i < 3 && (+pedido.telefone != 5511982551256 && +pedido.telefone != 5599999999998) ? true : false">
        </td>

        <td style='color: #4f63e7; font-weight: 400;'>{{ pedido.carrinho.produto.nome }} </td>
        <td style='color: #4f63e7; font-weight: 400;'>{{ pedido.telefone }} </td>
        <td style='color: #4f63e7; font-weight: 400;'>{{ pedido.local }} </td>

        <td>
          <input [(ngModel)]="pedido.observacao" name="observacaoLaptop1" type="text" style='color: red'
            (ngModelChange)="atualizarPedido(pedido)" class="nav-link"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
        </td>

        <td style='color: #4f63e7; font-weight: 400;'>{{ pedido.isencao }} </td>
        <td style='color: #4f63e7; font-weight: 400;'>{{ pedido.data_criacao | date:'HH:mm:ss'}} </td>
        <td class="text-center">
          <button (click)="openPopup( pedido.id! )"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" width="25" height="25" title="Editar pedido">
          </button>

          <button routerLink="/pedido/delete/{{ pedido.id }}"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img
              img-fluid rounded" width="25" height="25" title="Remover pedido">
          </button>

          <button (click)="entregaCreate( pedido.id! )"
            [disabled]=" (+telefone == 5511982551256 || +telefone == 5599999999998) ? false : true">
            <img src='/assets/images/garcon.jpg' class="figure-img img-fluid
              rounded" width="25" height="25" title="Solicitar entrega">
          </button>
        </td>
      </tr>
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>


<!-- LAPTOP2 @media(min-width: 768px) and (max-width: 992px) {-->

<div class='container laptop2'>
  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedPedidos.length) {

    <thead>
      <tr>
        <th style='width: 10%'></th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> Quantidade</th>
        <th style='width: 25%; color: #2494fc; font-weight: 500; text-align: center;'> Produto</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> Telefone</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> Local</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500; text-align: center;'> Observacao</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> Cortesia</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> Hora</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;'> Ações </th>
      </tr>
    </thead>
    @for (pedido of sortedPedidos; track pedido.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">
        <img [src]='pedido.carrinho.produto.imagem_url' class="figure-img img-fluid
          rounded" alt="..." width="100" height="70">
        <td>
          <input [(ngModel)]="pedido.quantidade" name="quantidadeLaptop2-1" type="text" style='color: red; width: 60px'
            (ngModelChange)="atualizarPedido(pedido)" class="nav-link"
            [disabled]=" i < 3 && (+pedido.telefone != 5511982551256 && +pedido.telefone != 5599999999998) ? true : false">
        </td>

        <td>{{ pedido.carrinho.produto.nome }} </td>
        <td>{{ pedido.telefone }} </td>
        <td>{{ pedido.local }} </td>

        <td>
          <input [(ngModel)]="pedido.observacao" name="observacaoLaptop2-1" type="text" style='color: red'
            (ngModelChange)="atualizarPedido(pedido)" class="nav-link"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
        </td>

        <td>{{ pedido.isencao }} </td>
        <td>{{ pedido.data_criacao | date:'HH:mm:ss'}} </td>
        <td class="text-center">
          <button (click)="openPopup( pedido.id! )"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" width="25" height="25" title="Editar pedido">
          </button>

          <button routerLink="/pedido/delete/{{ pedido.id }}"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img
              img-fluid rounded" width="25" height="25" title="Remover pedido">
          </button>

          <button (click)="entregaCreate( pedido.id! )"
            [disabled]=" (+telefone == 5511982551256 || +telefone == 5599999999998) ? false : true">
            <img src='/assets/images/garcon.jpg' class="figure-img img-fluid
              rounded" width="25" height="25" title="Solicitar entrega">
          </button>
        </td>
      </tr>
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>


<!-- TABLET @media(min-width: 576px) and (max-width: 767px) -->

<div class='container tablet'>
  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedPedidos.length) {

    <thead>
      <tr>
        <th style='width: 5%'></th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Quantidade
        </th>
        <th style='width: 25%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Produto</th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Telefone</th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Local</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Observacao
        </th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Cortesia</th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Hora</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Ações
        </th>
      </tr>
    </thead>
    @for (pedido of sortedPedidos; track pedido.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">
        <img [src]='pedido.carrinho.produto.imagem_url' class="figure-img img-fluid
          rounded" alt="..." width="100" height="70">
        <td><input [(ngModel)]="pedido.quantidade" type="text" name="quantidadeTablet1" style='color: red; width: 60px'
            (blur)="atualizarPedido(pedido)" class="nav-link"
            [disabled]=" i < 3 && (+pedido.telefone != 5511982551256 && +pedido.telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.carrinho.produto.nome }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.telefone }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{ pedido.local
          }} </td>

        <td style='width: 5%; color: red; font-weight: 500; text-align: center;  font-size: 0.7em;'>
          <input [(ngModel)]="pedido.observacao" name="observacaoTablet1" type="text"
            (ngModelChange)="atualizarPedido(pedido)" class="nav-link"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.isencao }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.data_criacao | date:'HH:mm:ss'}} </td>
        <td class="text-center">
          <button (click)="openPopup( pedido.id! )"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" width="25" height="25" title="Editar pedido">
          </button>

          <button routerLink="/pedido/delete/{{ pedido.id }}"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img
              img-fluid rounded" width="25" height="25" title="Remover pedido">
          </button>

          <button (click)="entregaCreate( pedido.id! )"
            [disabled]=" (+telefone == 5511982551256 || +telefone == 5599999999998) ? false : true">
            <img src='/assets/images/garcon.jpg' class="figure-img img-fluid
              rounded" width="25" height="25" title="Solicitar entrega">
          </button>
        </td>
      </tr>
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>

<!-- MOBILE @media(min-width: 381px) and (max-width: 575px) -->

<div class='container mobile'>
  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedPedidos.length) {

    <thead>
      <tr>
        <th style='width: 5%'></th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center; font-size: 0.7em;'> Quantidade</th>
        <th style='width: 25%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Produto</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Telefone</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Local</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Observacao
        </th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Cortesia</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Hora</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Ações
        </th>
      </tr>
    </thead>
    @for (pedido of sortedPedidos; track pedido.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">

        <td>
          <img [src]='pedido.carrinho.produto.imagem_url' class="figure-img img-fluid
            rounded" alt="..." width="100" height="70">
        </td>
        <td><input [(ngModel)]="pedido.quantidade" type="text" name="quantidadeMobile1" style='color: red; width: 60px'
            (blur)="atualizarPedido(pedido)" class="nav-link"
            [disabled]=" i < 3 && (+pedido.telefone != 5511982551256 && +pedido.telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.carrinho.produto.nome }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.telefone }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{ pedido.local
          }} </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>
          <input [(ngModel)]="pedido.observacao" type="text" style='color: red' name="observacaoMobile1"
            (ngModelChange)="atualizarPedido(pedido)" class="nav-link"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.isencao }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.data_criacao | date:'HH:mm:ss'}} </td>
        <td class="text-center">
          <button (click)="openPopup( pedido.id! )"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" width="25" height="25" title="Editar pedido">
          </button>

          <button routerLink="/pedido/delete/{{ pedido.id }}"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img
              img-fluid rounded" width="25" height="25" title="Remover pedido">
          </button>

          <button (click)="entregaCreate( pedido.id! )"
            [disabled]=" (+telefone == 5511982551256 || +telefone == 5599999999998) ? false : true">
            <img src='/assets/images/garcon.jpg' class="figure-img img-fluid
              rounded" width="25" height="25" title="Solicitar entrega">
          </button>
        </td>
      </tr>
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>

<!-- MOBILE PEQUENO @media(min-width: 263px) and (max-width: 380px) -->

<div class='container mobile-pequeno'>
  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedPedidos.length) {

    <thead>
      <tr>
        <th style='width: 5%'></th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center; font-size: 0.7em;'> Quantidade</th>
        <th style='width: 25%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Produto</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Telefone</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Local</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Observacao</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Cortesia</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Hora</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Ações</th>
      </tr>
    </thead>
    @for (pedido of sortedPedidos; track pedido.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">

        <td>
          <img [src]='pedido.carrinho.produto.imagem_url' class="figure-img img-fluid
            rounded" alt="..." width="100" height="70">
        </td>
        <td><input [(ngModel)]="pedido.quantidade" type="text" name="quantidadeMobilePequeno1"
            style='color: red; width: 60px' (blur)="atualizarPedido(pedido)" class="nav-link"
            [disabled]=" i < 3 && (+pedido.telefone != 5511982551256 && +pedido.telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.carrinho.produto.nome }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.telefone }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{ pedido.local
          }} </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>
          <input [(ngModel)]="pedido.observacao" type="text" style='color: red' name="observacaoMobilePequeno1"
            (ngModelChange)="atualizarPedido(pedido)" class="nav-link"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.isencao }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.data_criacao | date:'HH:mm:ss'}} </td>
        <td class="text-center">
          <button (click)="openPopup( pedido.id! )"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" width="25" height="25" title="Editar pedido">
          </button>

          <button routerLink="/pedido/delete/{{ pedido.id }}"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img
              img-fluid rounded" width="25" height="25" title="Remover pedido">
          </button>

          <button (click)="entregaCreate( pedido.id! )"
            [disabled]=" (+telefone == 5511982551256 || +telefone == 5599999999998) ? false : true">
            <img src='/assets/images/garcon.jpg' class="figure-img img-fluid
              rounded" width="25" height="25" title="Solicitar entrega">
          </button>
        </td>
      </tr>
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>

<!-- MOBILE PEQUENO2 @media(max-width: 262px) -->

<div class='container mobile-pequeno2'>
  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedPedidos.length) {

    <thead>
      <tr>
        <th style='width: 5%'></th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center; font-size: 0.7em;'> Quantidade</th>
        <th style='width: 25%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Produto</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Telefone</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Local</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Observacao
        </th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Cortesia</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Hora</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Ações
        </th>
      </tr>
    </thead>
    @for (pedido of sortedPedidos; track pedido.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">

        <td>
          <img [src]='pedido.carrinho.produto.imagem_url' class="figure-img img-fluid
            rounded" alt="..." width="100" height="70">
        </td>
        <td><input [(ngModel)]="pedido.quantidade" type="text" name="quantidadeMobilePequeno2-1"
            style='color: red; width: 60px' (blur)="atualizarPedido(pedido)" class="nav-link"
            [disabled]=" i < 3 && (+pedido.telefone != 5511982551256 && +pedido.telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.carrinho.produto.nome }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          pedido.telefone }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{ pedido.local
          }} </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>
          <input [(ngModel)]="pedido.observacao" type="text" style='color: red' name="observacaoMobilePequeno2-1"
            (ngModelChange)="atualizarPedido(pedido)" class="nav-link"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{pedido.isencao }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{pedido.data_criacao | date:'HH:mm:ss'}} </td>
        <td class="text-center">
          <button (click)="openPopup( pedido.id! )"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" width="25" height="25" title="Editar pedido">
          </button>

          <button routerLink="/pedido/delete/{{ pedido.id }}"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img
              img-fluid rounded" width="25" height="25" title="Remover pedido">
          </button>

          <button (click)="entregaCreate( pedido.id! )"
            [disabled]=" (+telefone == 5511982551256 || +telefone == 5599999999998) ? false : true">
            <img src='/assets/images/garcon.jpg' class="figure-img img-fluid
              rounded" width="25" height="25" title="Solicitar entrega">
          </button>
        </td>
      </tr>
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style='display: flex; justify-content: space-evenly;'>
        <h4 class="modal-title">Detalhes do Pedido</h4>
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Fechar
        </button>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Avaliação</span>
        <span><app-star [rating]="this.produto.avaliacao"></app-star></span>

      </div>
      <div class="modal-body row">
        <img [src]='this.produto.imagem_url' class="figure-img img-fluid rounded" alt="..." width="400" height="400">
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Quantidade:</span>
        <div style='align-items: center;
                display: flex; 
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: left;'>
          <span class='form-control' type="text" style='color: red; width: 3em;'>
            {{ this.carrinho.quantidade}}
          </span>
        </div>
      </div>

      <div class="modal-body row">
        <span style='font-weight: bolder;'>Nome:</span>
        <span>{{this.produto.nome}}</span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Observação:</span>
        <span type="text" style='color: red; width: 100%' class="nav-link">
          {{ this.carrinho.observacao }}
        </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Descrição:</span>
        <span> {{ this.produto.descricao }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Local:</span>
        <span> {{ this.pedido.local}} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Preço:</span>
        <span>{{this.produto.preco}} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Tempo de Preparação:</span>
        <span>{{this.produto.tempo_preparacao}} </span>
      </div>

      <div class="modal-body">
        <p>Os ingredientes encontrados na refeição são:</p>
        <ul>
          <li>alho</li>
          <li>cebola</li>
          <li>coentro</li>
          <li>maionese</li>
          <li>manjericão</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display': displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style='background-color:rgb(246, 253, 232)'>
      <div class="modal-header" style='background-color:rgb(225, 240, 252)'>
        <button (click)="">
          <img src='/assets/images/carrinho.jpg' class="figure-img img-fluid
            rounded" alt="..." width="50"
            height="25">
        </button>
        <button type="button" class="btn btn-danger"
          (click)="closePopup()">
          Fechar
        </button>

      </div>
      <div class="modal-body row">
        Avaliação: <app-star [rating]="produto.avaliacao"></app-star>
      </div>
      <div class="modal-body row">
        <img [src]='produto.imagemUrl' class="figure-img img-fluid rounded"
          alt="..."
          width="400"
          height="400">
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Nome:</span>
        <span>{{ produto.nome }}</span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Descrição:</span>
        <span> {{ produto.descricao }} </span>
      </div>
      <div class="modal-body">
        <div class="row">
          <span class="col-4" style='font-weight: bolder; color:blue'>Preço
            Unitário:</span>
          <span class="col-8" style='font-weight: bolder; color:blue'>Preço
            Total:</span>
        </div>
        <div class="row">
          <span class="col-4"> {{ produto.preco }} </span>
          <span class="col-8">{{ produto.preco * carrinho.quantidade }}</span>
        </div>
      </div>

      <div class="modal-body row">
        <span style='font-weight: bolder; color:blue'>Quantidade:</span>
        <a style="width: 2em; margin-top: 0.5em" (click)="minus()"><i
            class="fa
            fa-minus" style="color:red"></i></a>
        <input style="width: 3em;" [(ngModel)]='carrinho.quantidade'
          class='form-control'>
        <a style="width: 2em; margin-top: 0.5em" (click)="plus()"><i
            class="fa
            fa-plus" style="color:red"></i></a>
      </div>
      <div class="modal-body row">
        <div class='form-group row container'>
          <span style='font-weight: bolder; color:blue'>Observações:</span>
          <div>
            <textarea [(ngModel)]='carrinho.observacao'
              class='form-control'></textarea>
          </div>
        </div>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Tempo de Preparação:</span>
        <span>{{ produto.tempoPreparacao }} </span>
      </div>

      <div class="modal-body row">
        <span style='font-weight: bolder;'>Os ingredientes encontrados
          na
          refeição são:</span>
        <div>
          <ul>
            <li>alho</li>
            <li>cebola</li>
            <li>coentro</li>
            <li>maionese</li>
            <li>manjericão</li>
          </ul>
        </div>
      </div>
      <div class="modal-content" style='background-color:rgb(225, 240,
        252)'>
        <div class="modal-header" style='background-color:rgb(225, 240, 252)'>
          <button (click)="carrinhoCreate( produto.id )" >
            <img src='/assets/images/carrinho.jpg' class="figure-img img-fluid
              rounded" alt="..." width="50"
              height="25">
          </button>
          <button type="button" class="btn btn-danger"
            (click)="closePopup()">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->