<app-caminho-menu></app-caminho-menu>

<div class='form-group row container mt-5'>
  <label class='col-sm-2 col-form-label' style="width: 6em; color: #2494fc">
    Filter By:
    <input name="filter1"  [(ngModel)]='filter' class='form-control' style="width: 30em;">
  </label>
</div>

<!-- DESKTOP -->

<div class="table-responsive desktop">
  <table class="table table-bordered table-striped">
    <thead>

      <tr>
        <th style='width: 5%' ></th>
        <th style='width: 25%; color: #2494fc; font-weight: 500;'> Item </th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500;'> Quantidade</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500;'> Observacao</th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500;'> Local</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;' > Telefone</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;' > Cortesia</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;' > Hora Pedido</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;' > Hora Entrega</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;' > Ações </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let entrega of filteredEntregas' class="cols">
        <td>
          <img [src]='entrega.pedido.carrinho.produto.imagem_url'
            class="figure-img img-fluid rounded"
            alt="..."
            width="100"
            height="70">
        </td>
        <td style='color: blue; font-weight: 400;'>{{ entrega.pedido.carrinho.produto.nome }} </td>

        <td style='color: red'>
          <div style='align-items: center;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              color: blue; 
              font-weight: 400;
              justify-content: center;'>
                  {{ entrega.pedido.carrinho.quantidade }} 
          </div>
        </td>
        <td style='color: red'>{{ entrega.pedido.carrinho.observacao }} </td>
        <td style='color: blue; font-weight: 400;'>{{ entrega.pedido.local }} </td>
        <td style='color: blue; font-weight: 400;'>{{ entrega.pedido.telefone }} </td>
        <td style='color: blue; font-weight: 400;'>{{ entrega.pedido.isencao }} </td>
        <td style='color: blue; font-weight: 400;'>{{ entrega.pedido.dataCriacao | date:'HH:mm:ss' }} </td>
        <td style='color: blue; font-weight: 400;'>{{ entrega.data_criacao | date:'HH:mm:ss' }} </td>
        <td class="text-center">
          <button (click)="openPopup( entrega.id! )">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Ver detalhes">
          </button>
          <button (click)="entregaUpdate( entrega.id! )"
            [disabled]="((+telefone == 5511982551256 || +telefone == 5599999999996) && entrega.data_criacao == null)
            ? false : true">
            <img src='/assets/images/guardasol.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Entrega realizada">
          </button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="table-responsive mobile">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style='width: 10%'> Produto</th>
        <th style='width: 30%'> Nome</th>
        <th style='width: 10%'> Ações </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let entrega of filteredEntregas' class="cols">
        <td>
          <img [src]='entrega.pedido.carrinho.produto.imagem_url' class="figure-img
            img-fluid
            rounded"
            alt="..."
            width="100"
            height="70">
        </td>
        <td>{{ entrega.pedido.carrinho.produto.nome }} </td>
        <td>
          <button (click)="openPopup( entrega.id! )">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25"
              height="25">
          </button>
          <button (click)="entregaUpdate( entrega.id! )"
            [disabled]="((+telefone == 5511982551256 || +telefone == 5599999999996) && entrega.data_criacao == null)
            ? false : true">
            <img src='/assets/images/guardasol.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display': displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detalhes da Entrega</h4>
        <button type="button" class="btn btn-danger"
          (click)="closePopup()">
          Fechar
        </button>
      </div>
      <div class="modal-body row">
        <img [src]='this.produto.imagem_url' class="figure-img img-fluid rounded"
          alt="..."
          width="400"
          height="400">
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Quantidade:</span>
        <span style='color: red;'>{{ this.carrinho.quantidade }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Nome:</span>
        <span>{{ this.produto.nome }}</span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Observação:</span>
        <span style='color: red;'>{{ this.carrinho.observacao }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Descrição:</span>
        <span> {{ this.produto.descricao }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Preço:</span>
        <span>{{ this.produto.tempo_preparacao }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Tempo de Preparação:</span>
        <span>{{ this.produto.tempo_preparacao }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Horário do Pedido:</span>
        <span>{{ this.pedido.dataCriacao | date:'HH:mm:ss' }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Horário da Entrega:</span>
        <span>{{ this.entrega.data_criacao | date:'HH:mm:ss' }} </span>
      </div>

      <div class="modal-body">
        <p>Os ingredientes encontrados na refeição são:</p>
        <ul>
          <li>alho</li>
          <li>cebola</li>
          <li>coentro</li>
          <li>maionese</li>
          <li>manjericão</li>
        </ul>
      </div>
    </div>
  </div>
</div>
