@media (min-height: 576px) {
  .cols {
      columns: 2 200px;
  }
}

@media (min-height: 768px) {
  .cols {
      columns: 3 200px;
  }
}

@media (min-height: 992px) {
  .cols {
      columns: 4 200px;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}

input::placeholder{
  color: blue;
  font-weight: 200;
}

input::placeholder{
  color: blue;
  font-weight: 200;
}

.my-icon {
  font-size: 20px;
}

.my-icon-l2 {
  font-size: 15px;
}

.my-icon-t {
  font-size: 14px;
}

.my-icon-m {
  font-size: 10px;
  margin-top: 1em; /* Example: Larger icon size */
  
}

.my-icon-mp {
  font-size: 10px;
  margin-top: 1em; /* Example: Larger icon size */
  
}

.my-icon-mp2 {
  font-size: 0.7em;
  margin-top: 1em; /* Example: Larger icon size */
  
}

.my-custom-mini-fab .mat-icon {
  font-size: 15px; /* Example: Larger icon size */
  height: 15px;
  width: 20px;  
}    

.my-custom-mini-fab {

  margin-left: 0.5em; /* Example: Larger icon size */
  width: 25px; /* Adjust as desired */
  height: 25px; /* Adjust as desired */
  line-height: 40px; /* Match height for vertical alignment */
  font-size: 20px; /* Adjust icon font-size if using font icons */
}    

.my-custom-mini-fab-l2 {

  margin-left: 0.3em; /* Example: Larger icon size */
  width: 22px; /* Adjust as desired */
  height: 22px; /* Adjust as desired */
  line-height: 40px; /* Match height for vertical alignment */
  font-size: 20px; /* Adjust icon font-size if using font icons */
}    

.my-custom-mini-fab-t {

  margin-left: 0.3em; /* Example: Larger icon size */
  width: 15px; /* Adjust as desired */
  height: 15px; /* Adjust as desired */
  line-height: 30px; /* Match height for vertical alignment */
  font-size: 15px; /* Adjust icon font-size if using font icons */
}    

.my-custom-mini-fab-m {

  margin-left: 0.3em; /* Example: Larger icon size */
  width: 10px; /* Adjust as desired */
  height: 11px; /* Adjust as desired */
  line-height: 30px; /* Match height for vertical alignment */
  font-size: 15px; /* Adjust icon font-size if using font icons */
  
}    

.my-custom-mini-fab-mp {

  margin-left: 0.4em; /* Example: Larger icon size */
  width: 0.5em; /* Adjust as desired */
  height: 12px; /* Adjust as desired */
  line-height: 30px; /* Match height for vertical alignment */
  font-size: 0.8em; /* Adjust icon font-size if using font icons */
  
}    

.my-custom-mini-fab-mp2 {

  margin-left: 0.3em; /* Example: Larger icon size */
  width: 0.4em; /* Adjust as desired */
  height: 0.6em; /* Adjust as desired */
  line-height: 30px; /* Match height for vertical alignment */
  font-size: 0.7em; /* Adjust icon font-size if using font icons */
  
}    


.my-custom-mini-fab:hover {
  background-color: #fffda8;   
}
