<app-caminho-menu></app-caminho-menu>

<!-- DESKTOP -->

<div class='container desktop'>

  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedEntregas.length) {

    <thead>
      <tr>
        <th style='width: 5%'> </th>
        <th style='width: 25%; color: #2494fc; font-weight: 500;font-size: 0.8em;'>
          <a (click)="sortEntregasByName()" style="cursor: pointer;">ITEM</a>
        </th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500;font-size: 0.8em;' class="text-center"> QUANTIDADE</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500;font-size: 0.8em;'> OBSERVAÇÃO</th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500;font-size: 0.8em;'> LOCAL</th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500;font-size: 0.8em;'> TELEFONE</th>
        <th style='width: 3%;  color: #2494fc; font-weight: 500;font-size: 0.8em;'> CORTESIA</th>
        <th style='width: 8%;  color: #2494fc; font-weight: 500;font-size: 0.8em;'>
          <a (click)="sortEntregasByHorarioPedido()" style="cursor: pointer;">HORA PEDIDO</a>
        </th>
        <th style='width: 8%; color: #2494fc; font-weight: 500; text-align: center;font-size: 0.8em;'> 
          <a (click)="sortEntregasByHorarioEntrega()" style="cursor: pointer;">HORA ENTREGA</a>
        </th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;'> AÇÕES </th>
      </tr>
    </thead>
    @for (entrega of sortedEntregas; track entrega.id; let i = $index) {
    <tbody>
      <tr class="cols">
        <td>
          <img [src]='entrega.pedido.carrinho.produto.imagem_url' class="figure-img img-fluid rounded" alt="..."
            width="100" height="70">
        </td>
        <td style='color: blue; font-weight: 400;'>{{ entrega.pedido.carrinho.produto.nome }} </td>

        <td style='color: red'>
          <div style='align-items: center;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              color: blue; 
              font-weight: 400;
              justify-content: center;'>
            {{ entrega.pedido.carrinho.quantidade }}
          </div>
        </td>
        <td style='color: red'>{{ entrega.pedido.carrinho.observacao }} </td>
        <td style='color: blue; font-weight: 400;'>{{ entrega.pedido.local }} </td>
        <td style='color: blue; font-weight: 400;'>{{ entrega.pedido.telefone }} </td>
        <td style='color: blue; font-weight: 400;'>{{ entrega.pedido.isencao }} </td>
        <td style='color: blue; font-weight: 400;'>{{ entrega.pedido.data_criacao | date:'dd/MM/yy HH:mm:ss' }} </td>
        <td style='color: blue; font-weight: 400;'>{{ entrega.data_criacao | date:'dd/MM/yy HH:mm:ss' }} </td>
        <td class="text-center">
          <section>
            <div class="example-button-row">
              <div class="example-flex-container">
                <button (click)="openPopup( entrega.id! )" 
                        class="my-custom-mini-fab " 
                        matMiniFab 
                        aria-label="Entregar">
                    <mat-icon class="my-icon">search</mat-icon>
                </button>
                <button (click)="entregaUpdate( entrega.id! )"
                        matMiniFab 
                        class="my-custom-mini-fab" 
                        [disabled]="((+telefone == 5511982551256 || +telefone == 5599999999996) && entrega.data_criacao == null) ? false : true" 
                        aria-label="Entregar">
                    <mat-icon class=" row my-icon">beach_access</mat-icon>
                </button>
              </div>
            </div>
          </section>
        </td>
      </tr>
 
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>

<!-- LAPTOP @media(min-width: 993px) and (max-width: 1399px) {-->

<div class='container laptop'>

  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedEntregas.length) {

    <thead>
      <tr>
        <th style='width: 10%'></th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> QUANTIDADE</th>
        <th style='width: 25%; color: #2494fc; font-weight: 500; text-align: center;'> PRODUTO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> TELEFONE</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> LOCAL</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500; text-align: center;'> OBSERVAÇÃO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> CORTESIA</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> HORA PEDIDO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> HORA ENTREGA</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;'> AÇÕES </th>
      </tr>
    </thead>
    @for (entrega of sortedEntregas; track entrega.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">
        <img [src]='entrega.pedido.carrinho.produto.imagem_url' class="figure-img img-fluid
          rounded" alt="..." width="100" height="70">
        <td>
          <input [(ngModel)]="entrega.pedido.quantidade" type="text" name="quantidadeLaptop1" style='color: red; width: 60px'
            (ngModelChange)="atualizarPedido(entrega.pedido)" class="nav-link"
            [disabled]=" i < 3 && (+entrega.pedido.telefone != 5511982551256 && +entrega.pedido.telefone != 5599999999998) ? true : false">
        </td>

        <td style='color: #4f63e7; font-weight: 400;'>{{ entrega.pedido.carrinho.produto.nome }} </td>
        <td style='color: #4f63e7; font-weight: 400;'>{{ entrega.pedido.telefone }} </td>
        <td style='color: #4f63e7; font-weight: 400;'>{{ entrega.pedido.local }} </td>

        <td>
          <input [(ngModel)]="entrega.pedido.observacao" name="observacaoLaptop1" type="text" style='color: red'
            (ngModelChange)="atualizarPedido(entrega.pedido)" class="nav-link"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
        </td>

        <td style='color: #4f63e7; font-weight: 400;'>{{ entrega.pedido.isencao }} </td>
        <td style='color: #4f63e7; font-weight: 400;'>{{ entrega.pedido.data_criacao | date:'HH:mm:ss'}} </td>
        <td style='color: #4f63e7; font-weight: 400;'>{{ entrega.data_criacao | date:'HH:mm:ss' }} </td>

        <td class="text-center">
        <td class="text-center">
          <button (click)="openPopup( entrega.id! )">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Ver detalhes">
          </button>
          <button (click)="entregaUpdate( entrega.id! )" [disabled]="((+telefone == 5511982551256 || +telefone == 5599999999996) && entrega.data_criacao == null)
            ? false : true">
            <img src='/assets/images/guardasol.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Entrega realizada">
          </button>
        </td>
      </tr>
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>


<!-- LAPTOP2 @media(min-width: 768px) and (max-width: 992px) {-->

<div class='container laptop2'>
  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedEntregas.length) {

    <thead>
      <tr>
        <th style='width: 10%'></th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> QUANTIDADE</th>
        <th style='width: 25%; color: #2494fc; font-weight: 500; text-align: center;'> PRODUTO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> TELEFONE</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> LOCAL</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500; text-align: center;'> OBSERVAÇÃO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> CORTESIA</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> HORA PEDIDO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;'> HORA ENTREGA</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;'> AÇÕES </th>
      </tr>
    </thead>
    @for (entrega of sortedEntregas; track entrega.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">
        <img [src]='entrega.pedido.carrinho.produto.imagem_url' class="figure-img img-fluid
          rounded" alt="..." width="100" height="70">
        <td>
          <input [(ngModel)]="entrega.pedido.quantidade" name="quantidadeLaptop2-1" type="text" style='color: red; width: 60px'
            (ngModelChange)="atualizarPedido(entrega.pedido)" class="nav-link"
            [disabled]=" i < 3 && (+entrega.pedido.telefone != 5511982551256 && +entrega.pedido.telefone != 5599999999998) ? true : false">
        </td>

        <td>{{ entrega.pedido.carrinho.produto.nome }} </td>
        <td>{{ entrega.pedido.telefone }} </td>
        <td>{{ entrega.pedido.local }} </td>

        <td>
          <input [(ngModel)]="entrega.pedido.observacao" name="observacaoLaptop2-1" type="text" style='color: red'
            (ngModelChange)="atualizarPedido(entrega.pedido)" class="nav-link"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
        </td>

        <td>{{ entrega.pedido.isencao }} </td>
        <td>{{ entrega.pedido.data_criacao | date:'HH:mm:ss'}} </td>
        <td>{{ entrega.data_criacao | date:'HH:mm:ss' }} </td>

        <td class="text-center">
        <td class="text-center">
          <button (click)="openPopup( entrega.id! )">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Ver detalhes">
          </button>
          <button (click)="entregaUpdate( entrega.id! )" [disabled]="((+telefone == 5511982551256 || +telefone == 5599999999996) && entrega.data_criacao == null)
            ? false : true">
            <img src='/assets/images/guardasol.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Entrega realizada">
          </button>
        </td>
      </tr>
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>


<!-- TABLET @media(min-width: 576px) and (max-width: 767px) -->

<div class='container tablet'>
  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedEntregas.length) {

    <thead>
      <tr>
        <th style='width: 5%'></th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> Quantidade
        </th>
        <th style='width: 25%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> PRODUTO</th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> TELEFONE</th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> LOCAL</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> OBSERVAÇÃO
        </th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> CORTESIA</th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> HORA PEDIDO</th>
        <th style='width: 5%;  color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> HORA ENTREGA</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> AÇÕES
        </th>
      </tr>
    </thead>
    @for (entrega of sortedEntregas; track entrega.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">
        <img [src]='entrega.pedido.carrinho.produto.imagem_url' class="figure-img img-fluid
          rounded" alt="..." width="100" height="70">
        <td><input [(ngModel)]="entrega.pedido.quantidade" type="text" name="quantidadeTablet1" style='color: red; width: 60px'
            (blur)="atualizarPedido(entrega.pedido)" class="nav-link"
            [disabled]=" i < 3 && (+entrega.pedido.telefone != 5511982551256 && +entrega.pedido.telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.carrinho.produto.nome }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.telefone }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{ entrega.pedido.local
          }} </td>

        <td style='width: 5%; color: red; font-weight: 500; text-align: center;  font-size: 0.7em;'>
          <input [(ngModel)]="entrega.pedido.observacao" name="observacaoTablet1" type="text"
            (ngModelChange)="atualizarPedido(entrega.pedido)" class="nav-link"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.isencao }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.data_criacao | date:'HH:mm:ss'}} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.data_criacao | date:'HH:mm:ss'}} </td>
        <td class="text-center">
        <td class="text-center">
          <button (click)="openPopup( entrega.id! )">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Ver detalhes">
          </button>
          <button (click)="entregaUpdate( entrega.id! )" [disabled]="((+telefone == 5511982551256 || +telefone == 5599999999996) && entrega.data_criacao == null)
            ? false : true">
            <img src='/assets/images/guardasol.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Entrega realizada">
          </button>
        </td>
      </tr>
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>

<!-- MOBILE @media(min-width: 381px) and (max-width: 575px) -->

<div class='container mobile'>
  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedEntregas.length) {

    <thead>
      <tr>
        <th style='width: 5%'></th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center; font-size: 0.7em;'> QUANTIDADE</th>
        <th style='width: 25%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> PRODUTO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> TELEFONE</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> LOCAL</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> OBSERVAÇÃO
        </th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> CORTESIA</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> HORA PEDIDO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> HORA ENTREGA</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> AÇÕES
        </th>
      </tr>
    </thead>
    @for (entrega of sortedEntregas; track entrega.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">

        <td>
          <img [src]='entrega.pedido.carrinho.produto.imagem_url' class="figure-img img-fluid
            rounded" alt="..." width="100" height="70">
        </td>
        <td><input [(ngModel)]="entrega.pedido.quantidade" type="text" name="quantidadeMobile1" style='color: red; width: 60px'
            (blur)="atualizarPedido(entrega.pedido)" class="nav-link"
            [disabled]=" i < 3 && (+entrega.pedido.telefone != 5511982551256 && +entrega.pedido.telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.carrinho.produto.nome }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.telefone }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{ entrega.pedido.local
          }} </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>
          <input [(ngModel)]="entrega.pedido.observacao" type="text" style='color: red' name="observacaoMobile1"
            (ngModelChange)="atualizarPedido(entrega.pedido)" class="nav-link"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.isencao }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.data_criacao | date:'HH:mm:ss'}} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.data_criacao | date:'HH:mm:ss'}} </td>
        <td class="text-center">
        <td class="text-center">
          <button (click)="openPopup( entrega.id! )">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Ver detalhes">
          </button>
          <button (click)="entregaUpdate( entrega.id! )" [disabled]="((+telefone == 5511982551256 || +telefone == 5599999999996) && entrega.data_criacao == null)
            ? false : true">
            <img src='/assets/images/guardasol.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Entrega realizada">
          </button>
        </td>
      </tr>
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>

<!-- MOBILE PEQUENO @media(min-width: 263px) and (max-width: 380px) -->

<div class='container mobile-pequeno'>
  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedEntregas.length) {

    <thead>
      <tr>
        <th style='width: 5%'></th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center; font-size: 0.7em;'> QUANTIDADE</th>
        <th style='width: 25%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> PRODUTO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> TELEFONE</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> LOCAL</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> OBSERVAÇÃO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> CORTESIA</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> HORA PEDIDO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> HORA ENTREGA</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> AÇÕES
        </th>
      </tr>
    </thead>
    @for (entrega of sortedEntregas; track entrega.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">

        <td>
          <img [src]='entrega.pedido.carrinho.produto.imagem_url' class="figure-img img-fluid
            rounded" alt="..." width="100" height="70">
        </td>
        <td><input [(ngModel)]="entrega.pedido.quantidade" type="text" name="quantidadeMobilePequeno1"
            style='color: red; width: 60px' (blur)="atualizarPedido(entrega.pedido)" class="nav-link"
            [disabled]=" i < 3 && (+entrega.pedido.telefone != 5511982551256 && +entrega.pedido.telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.carrinho.produto.nome }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.telefone }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{ entrega.pedido.local
          }} </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>
          <input [(ngModel)]="entrega.pedido.observacao" type="text" style='color: red' name="observacaoMobilePequeno1"
            (ngModelChange)="atualizarPedido(entrega.pedido)" class="nav-link"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.isencao }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.data_criacao | date:'HH:mm:ss'}} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.data_criacao | date:'HH:mm:ss'}} </td>
        <td class="text-center">
        <td class="text-center">
          <button (click)="openPopup( entrega.id! )">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Ver detalhes">
          </button>
          <button (click)="entregaUpdate( entrega.id! )" [disabled]="((+telefone == 5511982551256 || +telefone == 5599999999996) && entrega.data_criacao == null)
            ? false : true">
            <img src='/assets/images/guardasol.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Entrega realizada">
          </button>
        </td>
      </tr>
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>

<!-- MOBILE PEQUENO2 @media(max-width: 262px) -->

<div class='container mobile-pequeno2'>
  <section class="my-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group">
          <input type="text" name="filter1" class="form-control" placeholder="Buscar produtos..." [(ngModel)]='filter'
            style="color: #4f63e7; " />
          <span class="input-group-text">
            <i class="bi bi-search"></i>🔍
          </span>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-bordered table-striped">
    @if (sortedEntregas.length) {

    <thead>
      <tr>
        <th style='width: 5%'></th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center; font-size: 0.7em;'> QUANTIDADE</th>
        <th style='width: 25%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> PRODUTO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> TELEFONE</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> LOCAL</th>
        <th style='width: 10%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> OBSERVAÇÃO
        </th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> CORTESIA</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> HORA PEDIDO</th>
        <th style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> HORA ENTREGA</th>
        <th class="text-center" style='color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'> AÇÕES
        </th>
      </tr>
    </thead>
    @for (entrega of sortedEntregas; track entrega.id; let i = $index) {
    <tbody>
      <tr [ngStyle]="{backgroundColor: i > 2 ? 'transparent' : '#cbfaf8' }">

        <td>
          <img [src]='entrega.pedido.carrinho.produto.imagem_url' class="figure-img img-fluid
            rounded" alt="..." width="100" height="70">
        </td>
        <td><input [(ngModel)]="entrega.pedido.quantidade" type="text" name="quantidadeMobilePequeno2-1"
            style='color: red; width: 60px' (blur)="atualizarPedido(entrega.pedido)" class="nav-link"
            [disabled]=" i < 3 && (+entrega.pedido.telefone != 5511982551256 && +entrega.pedido.telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.carrinho.produto.nome }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.telefone }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{ entrega.pedido.local
          }} </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>
          <input [(ngModel)]="entrega.pedido.observacao" type="text" style='color: red' name="observacaoMobilePequeno2-1"
            (ngModelChange)="atualizarPedido(entrega.pedido)" class="nav-link"
            [disabled]=" i < 3 && (+telefone != 5511982551256 && +telefone != 5599999999998) ? true : false">
        </td>

        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.isencao }} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.pedido.data_criacao | date:'HH:mm:ss'}} </td>
        <td style='width: 5%; color: #2494fc; font-weight: 500; text-align: center;  font-size: 0.7em;'>{{
          entrega.data_criacao | date:'HH:mm:ss'}} </td>
        <td class="text-center">
        <td class="text-center">
          <button (click)="openPopup( entrega.id! )">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Ver detalhes">
          </button>
          <button (click)="entregaUpdate( entrega.id! )" [disabled]="((+telefone == 5511982551256 || +telefone == 5599999999996) && entrega.data_criacao == null)
            ? false : true">
            <img src='/assets/images/guardasol.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25" height="25" title="Entrega realizada">
          </button>
        </td>
      </tr>
    </tbody>
    }
    } @else {
    <div class="col-12 text-center">
      <p class="lead" style="color: #4f63e7; font-weight: 500;">Nenhum produto encontrado com esse termo.</p>
    </div>
    }

  </table>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detalhes da Entrega</h4>
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Fechar
        </button>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Avaliação</span>
        <span><app-star [rating]="this.produto.avaliacao"></app-star></span>

      </div>
      <div class="modal-body row">
        <img [src]='this.produto.imagem_url' class="figure-img img-fluid rounded" alt="..." width="400" height="400">
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Quantidade:</span>
        <span style='color: red;'>{{ this.carrinho.quantidade }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Nome:</span>
        <span>{{ this.produto.nome }}</span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Observação:</span>
        <span style='color: red;'>{{ this.carrinho.observacao }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Descrição:</span>
        <span> {{ this.produto.descricao }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Preço:</span>
        <span>{{ this.produto.tempo_preparacao }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Tempo de Preparação:</span>
        <span>{{ this.produto.tempo_preparacao }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Horário do Pedido:</span>
        <span>{{ this.pedido.data_criacao | date:'HH:mm:ss' }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Horário da Entrega:</span>
        <span>{{ this.entrega.data_criacao | date:'HH:mm:ss' }} </span>
      </div>

      <div class="modal-body">
        <p>Os ingredientes encontrados na refeição são:</p>
        <ul>
          <li>alho</li>
          <li>cebola</li>
          <li>coentro</li>
          <li>maionese</li>
          <li>manjericão</li>
        </ul>
      </div>
    </div>
  </div>
</div>