@media (min-height: 576px) {
  .cols {
      columns: 2 200px;
  }
}

@media (min-height: 768px) {
  .cols {
      columns: 3 200px;
  }
}

@media (min-height: 992px) {
  .cols {
      columns: 4 200px;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}

input::placeholder{
  color: blue;
  font-weight: 200;
}

.my-icon {
  font-size: 20px;
}

.my-custom-mini-fab .mat-icon {
  font-size: 20px; /* Example: Larger icon size */
  height: 28px;
  width: 28px;  
}    

.my-custom-mini-fab {
  margin-left: 0.5em; /* Example: Larger icon size */
}    

.my-custom-mini-fab:hover {
  background-color: #fffda8;   
}
