section {
  display: table;
}


.container {
  background-image: url('../../assets/images/color-azul-mar.png');
  border-color: #4cc5fd;
  border-style: double;
  border-bottom-color: #4cc5fd;
  box-shadow: 0 4px 6px #4cc5fd;
  background-size: cover;
}

.container-fluid {
  background-image: url('../../assets/images/color-azul-mar.png');
  border-color: #4cc5fd;
  border-style: double;
  border-bottom-color: #4cc5fd;
  box-shadow: 0 4px 6px #4cc5fd;
  background-size: cover;
}

.navbar-title {
  color: #0509fc;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
}

.navbar-info {
  color: #0509fc;
  font-weight: bold;
  font-size: 2em;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.navbar-button {
  color: #0509fc;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.coluna{
  float: right;
  width: 20%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.img {
  width:25px;
  height:25px;
  color: red;
}

