
<!-- DESKTOP -->

<div class="container desktop">
    <mat-grid-list cols="5" rowHeight="10em" style="display: flex; justify-content: space-evenly;">
      <mat-grid-tile>
        <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fffda8' : ''}" 
                    style="border: 1px solid blue; width: 15em; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title class="title"  style="color: blue;">Cardápio</mat-card-title>
            <mat-card-subtitle class="subtitle"  style="color: blue;">Menu</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon aria-hidden="true" style="font-size: 3rem;width:3rem; height:3rem; margin-right: 4px; color: orange;" aria-label="Example home icon" >
                menu_book  
              </mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a [routerLink]="['/carrinho']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoPedido ?'#fffda8' : ''}" 
                    style="border: 1px solid blue; width: 15em; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title class="title"  style="color: blue;">Pedido</mat-card-title>
            <mat-card-subtitle class="subtitle"  style="color: blue;">Order</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon aria-hidden="true" style="font-size: 3rem; width:3rem; height:3rem; margin-right: 4px; color: orange;" aria-label="Example home icon">
                shopping_cart
              </mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a [routerLink]="['/pedido']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCozinha ? '#fffda8' : ''}" 
                    style="border: 1px solid blue; width: 15em; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title class="title"  style="color: blue;">Cozinha</mat-card-title>
            <mat-card-subtitle class="subtitle"  style="color: blue;">Cook</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon aria-hidden="true" style="font-size: 3rem; width:3rem; height:3rem; margin-right: 4px; color: orange;" aria-label="Example home icon" >
                restaurant_menu
              </mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a [routerLink]="['/pedidoBar']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoBar ? '#fffda8' : ''}" 
                    style="border: 1px solid blue; width: 15em; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title class="title"  style="color: blue;">Bar</mat-card-title>
            <mat-card-subtitle class="subtitle"  style="color: blue;">Bar</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon aria-hidden="true" style="font-size: 3rem;width:3rem;height:3rem; margin-right: 4px; color: orange;" aria-label="Example home icon" >
                liquor
              </mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a [routerLink]="['/entrega']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoEntrega ? '#fffda8' : ''}" 
                    style="border: 1px solid blue; width: 15em; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title class="title"  style="color: blue;">Entrega</mat-card-title>
            <mat-card-subtitle class="subtitle"  style="color: blue;">Delivery</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon aria-hidden="true" style="font-size: 3rem;width:3rem;height:3rem; margin-right: 4px; color: orange;" aria-label="Example home icon">
              room_service
            </mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <!-- LAPTOP  -->
  
  <div class="container laptop" >
    <mat-grid-list cols="5" rowHeight="10em" style="display: flex; justify-content: space-evenly;">
      <mat-grid-tile  gutterSize="1em" >
        <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fffda8' : ''}" 
                    style="border: 1px solid blue; width: 10em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title class="title"  style=" color: blue;">Cardápio</mat-card-title>
            <mat-card-subtitle class="subtitle"  style=" color: blue;">Menu</mat-card-subtitle>
            <mat-card-title-group>
            <mat-icon aria-hidden="true" style="font-size: 2rem;width:2rem;height:2rem; margin-right: 4px; color: orange;" aria-label="Example home icon">

                menu_book</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/carrinho']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoPedido ? '#fffda8' : ''}"  
                    style=" border: 1px solid blue; width: 10em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title  class="title"  style="color: blue;">Pedido</mat-card-title>
            <mat-card-subtitle  class="subtitle"  style="color: blue;">Order</mat-card-subtitle>
            <mat-card-title-group>
            <mat-icon aria-hidden="true" style="font-size: 2rem;width:2rem;height:2rem; margin-right: 4px; color: orange;" aria-label="Example home icon">
                shopping_cart</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
  
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedido']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCozinha ? '#fffda8' : ''}"  
                    style=" border: 1px solid blue; width: 10em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title  class="title"  style="color: blue;">Cozinha</mat-card-title>
            <mat-card-subtitle  class="subtitle"  style="color: blue;">Cook</mat-card-subtitle>
            <mat-card-title-group>
            <mat-icon aria-hidden="true" style="font-size: 2rem;width:2rem;height:2rem; margin-right: 4px; color: orange;" aria-label="Example home icon">
                restaurant_menu</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
  
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedidoBar']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoBar ? '#fffda8' : ''}" 
                    style=" border: 1px solid blue; width: 10em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title  class="title"  style="color: blue;">Bar</mat-card-title>
            <mat-card-subtitle  class="subtitle"  style="color: blue;">Bar</mat-card-subtitle>
            <mat-card-title-group>
            <mat-icon aria-hidden="true" style="font-size: 2rem;width:2rem;height:2rem; margin-right: 4px; color: orange;" aria-label="Example home icon">
                liquor</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
  
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/entrega']" routerLinkActive="active"  class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoEntrega ? '#fffda8' : ''}"   
                    style=" border: 1px solid blue; width: 10em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title  class="title"  style="color: blue;">Entrega</mat-card-title>
            <mat-card-subtitle  class="subtitle"  style="color: blue;">Delivery</mat-card-subtitle>
            <mat-card-title-group>
            <mat-icon aria-hidden="true" style="font-size: 2rem;width:2rem;height:2rem; margin-right: 4px; color: orange;" aria-label="Example home icon">
                room_service</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <!-- LAPTOP2  -->
  
  <div class="container laptop2" >
    <mat-grid-list cols="5" rowHeight="8em" style="display: flex; justify-content: space-evenly;">
      <mat-grid-tile  gutterSize="1em" >
        <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fffda8' : ''}" 
                    style="border: 1px solid blue; width: 8em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title  class="title"  style="color: blue;">Cardápio</mat-card-title>
            <mat-card-subtitle  class="subtitle"  style="color: blue;">Menu</mat-card-subtitle>
            <mat-card-title-group>
            <mat-icon aria-hidden="true" style="font-size: 1.7rem; width:1.7rem; height:1.7rem; margin-right: 5px; color: orange;" aria-label="Example home icon">
                menu_book</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/carrinho']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoPedido ? '#fffda8' : ''}"  
                    style=" border: 1px solid blue; width: 8em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title  class="title"  style="color: blue;">Pedido</mat-card-title>
            <mat-card-subtitle  class="subtitle"  style="color: blue;">Order</mat-card-subtitle>
            <mat-card-title-group>
            <mat-icon aria-hidden="true" style="font-size: 1.7rem; width:1.7rem; height:1.7rem; margin-right: 5px; color: orange;" aria-label="Example home icon">
                shopping_cart</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
  
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedido']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCozinha ? '#fffda8' : ''}"  
                    style=" border: 1px solid blue; width: 8em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title  class="title"  style="color: blue;">Cozinha</mat-card-title>
            <mat-card-subtitle  class="subtitle"  style="color: blue;">Cook</mat-card-subtitle>
            <mat-card-title-group>
            <mat-icon aria-hidden="true" style="font-size: 1.7rem; width:1.7rem; height:1.7rem; margin-right: 5px; color: orange;" aria-label="Example home icon">
                restaurant_menu</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
  
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedidoBar']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoBar ? '#fffda8' : ''}" 
                    style=" border: 1px solid blue; width: 8em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title  class="title"  style="color: blue;">Bar</mat-card-title>
            <mat-card-subtitle  class="subtitle"  style="color: blue;">Bar</mat-card-subtitle>
            <mat-card-title-group>
            <mat-icon aria-hidden="true" style="font-size: 1.7rem; width:1.7rem; height:1.7rem; margin-right: 5px; color: orange;" aria-label="Example home icon">
                liquor</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
  
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/entrega']" routerLinkActive="active"  class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoEntrega ? '#fffda8' : ''}"   
                    style=" border: 1px solid blue; width: 8em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title  class="title"  style="color: blue;">Entrega</mat-card-title>
            <mat-card-subtitle  class="subtitle"  style="color: blue;">Delivery</mat-card-subtitle>
            <mat-card-title-group>
            <mat-icon aria-hidden="true" style="font-size: 1.7rem; width:1.7rem; height:1.7rem; margin-right: 5px; color: orange;" aria-label="Example home icon">
                room_service</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <!-- TABLET -->
  
  <div class="container tablet" >
    <mat-grid-list cols="5" rowHeight="6em" style="display: flex; justify-content: space-evenly;">
      <mat-grid-tile  gutterSize="1em" >
        <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fffda8' : ''}" 
                    style=" border: 1px solid blue; width: 6.5em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title style="font-size: larger; color: blue;">Cardápio</mat-card-title>
            <mat-card-subtitle style="font-size: small; color: blue;">Menu</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon style="margin-right: 4px; color: orange;">menu_book</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/carrinho']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoPedido ? '#fffda8' : ''}"  
                    style=" border: 1px solid blue; width: 6.5em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title style="font-size: larger; color: blue;">Pedido</mat-card-title>
            <mat-card-subtitle style="font-size: small; color: blue;">Order</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon style="margin-right: 4px; color: orange;">shopping_cart</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedido']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCozinha ? '#fffda8' : ''}"  
                    style=" border: 1px solid blue; width: 6.5em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title style="font-size: larger; color: blue;">Cozinha</mat-card-title>
            <mat-card-subtitle style="font-size: small; color: blue;">Cook</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon style="margin-right: 4px; color: orange;">restaurant_menu</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedidoBar']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoBar ? '#fffda8' : ''}"  
                    style=" border: 1px solid blue; width: 6.5em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title style="font-size: larger; color: blue;">Bar</mat-card-title>
            <mat-card-subtitle style="font-size: small; color: blue;">Bar</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon style="margin-right: 4px; color: orange;">liquor</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em" >
        <a [routerLink]="['/entrega']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoEntrega ? '#fffda8' : ''}"   
                    style=" border: 1px solid blue; width: 6.5em; font-size: 1em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title style="font-size: larger; color: blue;">Entrega</mat-card-title>
            <mat-card-subtitle style="font-size: small; color: blue;">Delivery</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon style="margin-right: 4px; color: orange;">room_service</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <!-- MOBILE -->
  
  <div class="container mobile">
      <mat-grid-list cols="2" rowHeight="6em" style="display: flex; justify-content: space-evenly;">
        <mat-grid-tile>
          <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fffda8' : ''}" 
                    style=" border: 1px solid blue; width: 8em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title style="font-size: medium; height: 1.5em; color: blue;">Cardápio</mat-card-title>
            <mat-card-subtitle style="font-size: small; height: 1.3em;  color: blue;">Menu</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon style="margin-right: 4px; color: orange;">menu_book</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a [routerLink]="['/carrinho']" routerLinkActive="active"  class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoPedido ? '#fffda8' : ''}"  
                    style=" border: 1px solid blue; width: 8em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title style="font-size: medium; height: 1.5em; color: blue;">Pedido</mat-card-title>
            <mat-card-subtitle style="font-size: small; height: 1.3em;  color: blue;">Order</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon style="margin-right: 4px; color: orange;">shopping_cart</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
  </div>
  
  <!-- MOBILE-PEQUENO -->
  
  <div class="container mobile-pequeno">
      <mat-grid-list cols="2" rowHeight="6em" style="display: flex; justify-content: space-evenly;">
        <mat-grid-tile>
          <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fffda8' : ''}" 
                    style=" border: 1px solid blue; width: 6em; height: 4em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title style="font-size: small; height: 1.3em; color: blue;">Cardápio</mat-card-title>
            <mat-card-subtitle style="font-size: x-small; height: 1.3em;  color: blue;">Menu</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon style="width: 1.3em; height: 1.3em; padding-left: 0.1em; color: orange;">menu_book</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a [routerLink]="['/carrinho']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoPedido ? '#fffda8' : ''}"  
                    style=" border: 1px solid blue; width: 6em; height: 4em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title style="font-size: small; height: 1.35em; color: blue;">Pedido</mat-card-title>
            <mat-card-subtitle style="font-size: x-small; height: 1.3em;  color: blue;">Order</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon style="width: 1.3em; height: 1.3em; padding-left: 0.2em; color: orange;">shopping_cart</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
      </mat-grid-list> 
  </div>

    <!-- MOBILE-PEQUENO2 -->
  
  <div class="container mobile-pequeno2">
    <mat-grid-list cols="2" rowHeight="6em" style="display: flex; justify-content: space-evenly;">
      <mat-grid-tile>
        <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fffda8' : ''}" 
                    style=" border: 1px solid blue; width: 6em; height: 4em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title style="font-size: small; height: 1.3em; color: blue;">Cardápio</mat-card-title>
            <mat-card-subtitle style="font-size: x-small; height: 1.3em;  color: blue;">Menu</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon style="width: 1.3em; height: 1.3em; padding-left: 0.1em; color: orange;">menu_book</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a [routerLink]="['/carrinho']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoPedido ? '#fffda8' : ''}"  
                    style=" border: 1px solid blue; width: 6em; height: 4em; align-items: center; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title style="font-size: small; height: 1.35em; color: blue;">Pedido</mat-card-title>
            <mat-card-subtitle style="font-size: x-small; height: 1.3em;  color: blue;">Order</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon style="width: 1.3em; height: 1.3em; padding-left: 0.2em; color: orange;">shopping_cart</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
