
<!-- DESKTOP -->

<div class="container desktop">
    <mat-grid-list cols="5" rowHeight="10em">
      <mat-grid-tile>
        <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fad42e' : ''}" 
                    style="border: 0.5px solid blue; width: 15em; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title class="title">Cardápio</mat-card-title>
            <mat-card-subtitle class="subtitle">Menu</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon 
                aria-hidden="true"
                style="font-size: 3rem;width:3rem;height:3rem"
                aria-label="Example home icon"
              >
              menu_book
            </mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a [routerLink]="['/carrinho']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoPedido ?'#fad42e' : ''}" 
                    style="border: 1px solid blue; width: 15em; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title class="title">Pedido</mat-card-title>
            <mat-card-subtitle class="subtitle">Order</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon
              aria-hidden="true"
              style="font-size: 3rem;width:3rem;height:3rem"
              aria-label="Example home icon"
              >
              shopping_cart
            </mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a [routerLink]="['/pedido']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCozinha ? '#fad42e' : ''}" 
            style="border: 1px solid blue; width: 15em; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title class="title">Cozinha</mat-card-title>
            <mat-card-subtitle class="subtitle">Cook</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon
                aria-hidden="true"
                style="font-size: 3rem;width:3rem;height:3rem"
                aria-label="Example home icon"
              >
              restaurant_menu
            </mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a [routerLink]="['/pedidoBar']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoBar ? '#fad42e' : ''}" 
                    style="border: 1px solid blue; width: 15em; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title class="title">Bar</mat-card-title>
            <mat-card-subtitle class="subtitle">Bar</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon
                aria-hidden="true"
                style="font-size: 3rem;width:3rem;height:3rem"
                aria-label="Example home icon"
              >
              liquor
            </mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a [routerLink]="['/entrega']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoEntrega ? '#fad42e' : ''}" 
                    style="border: 1px solid blue; width: 15em; box-shadow: 0 4px 6px #4cc5fd;">
            <mat-card-title class="title">Entrega</mat-card-title>
            <mat-card-subtitle class="subtitle">Delivery</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon
                aria-hidden="true"
                style="font-size: 3rem;width:3rem;height:3rem"
                aria-label="Example home icon"
              >
              room_service
            </mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <!-- LAPTOP  -->
  
  <div class="container laptop" >
    <mat-grid-list cols="5" rowHeight="10em">
      <mat-grid-tile  gutterSize="1em" >
        <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fad42e' : ''}" 
                    style="border: 1px solid blue; 
                           width: 10em;
                           font-size: 1em;
                           align-items: center;
                            box-shadow: 0 4px 6px #4cc5fd;
                           ">
            <mat-card-title>Cardápio</mat-card-title>
            <mat-card-subtitle>Menu</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>menu_book</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/carrinho']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoPedido ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 10em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title>Pedido</mat-card-title>
            <mat-card-subtitle>Order</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>shopping_cart</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
  
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedido']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCozinha ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 10em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title>Cozinha</mat-card-title>
            <mat-card-subtitle>Cook</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>restaurant_menu</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
  
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedidoBar']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoBar ? '#fad42e' : ''}" 
                    style=" border: 1px solid blue; 
                            width: 10em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">

            <mat-card-title>Bar</mat-card-title>
            <mat-card-subtitle>Bar</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>liquor</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
  
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/entrega']" routerLinkActive="active"  class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoEntrega ? '#fad42e' : ''}"   
                    style=" border: 1px solid blue; 
                            width: 10em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title>Entrega</mat-card-title>
            <mat-card-subtitle>Delivery</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>room_service</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <!-- LAPTOP2  -->
  
  <div class="container laptop2" >
    <mat-grid-list cols="5" rowHeight="8em">
      <mat-grid-tile  gutterSize="1em" >
        <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fad42e' : ''}" 
                    style="border: 1px solid blue; 
                           width: 8em;
                           font-size: 1em;
                           align-items: center;
                            box-shadow: 0 4px 6px #4cc5fd;
                           ">
            <mat-card-title>Cardápio</mat-card-title>
            <mat-card-subtitle>Menu</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>menu_book</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/carrinho']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoPedido ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 8em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title>Pedido</mat-card-title>
            <mat-card-subtitle>Order</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>shopping_cart</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
  
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedido']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCozinha ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 8em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title>Cozinha</mat-card-title>
            <mat-card-subtitle>Cook</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>restaurant_menu</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
  
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedidoBar']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoBar ? '#fad42e' : ''}" 
                    style=" border: 1px solid blue; 
                            width: 8em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">

            <mat-card-title>Bar</mat-card-title>
            <mat-card-subtitle>Bar</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>liquor</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
  
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/entrega']" routerLinkActive="active"  class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoEntrega ? '#fad42e' : ''}"   
                    style=" border: 1px solid blue; 
                            width: 8em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title>Entrega</mat-card-title>
            <mat-card-subtitle>Delivery</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>room_service</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <!-- TABLET -->
  
  <div class="container tablet" >
    <mat-grid-list cols="5" rowHeight="10em">
      <mat-grid-tile  gutterSize="1em" >
        <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fad42e' : ''}" 
                    style=" border: 1px solid blue; 
                            width: 5.5em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title style="font-size: larger;">Cardápio</mat-card-title>
            <mat-card-subtitle>Menu</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>menu_book</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/carrinho']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoPedido ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 5.5em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title style="font-size: larger;">Pedido</mat-card-title>
            <mat-card-subtitle>Order</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>shopping_cart</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedido']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCozinha ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 5.5em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">

            <mat-card-title style="font-size: larger;">Cozinha</mat-card-title>
            <mat-card-subtitle>Cook</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>restaurant_menu</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedidoBar']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoBar ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 5.5em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title style="font-size: larger;">Bar</mat-card-title>
            <mat-card-subtitle>Bar</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>liquor</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em" >
        <a [routerLink]="['/entrega']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoEntrega ? '#fad42e' : ''}"   
                    style=" border: 1px solid blue; 
                            width: 5.5em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">

            <mat-card-title style="font-size: larger;">Entrega</mat-card-title>
            <mat-card-subtitle>Delivery</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>room_service</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <!-- MOBILE -->
  
  <div class="container mobile">
    <div class="content">
      <mat-grid-list cols="5" rowHeight="6em" style="margin-right: 1em;">
        <mat-grid-tile>
          <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active" class="nav-link">
          <mat-card class="example-card" 
                    [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fad42e' : ''}" 
                    style=" border: 1px solid blue; 
                            width: 4em;
                            align-items: center;
                            box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title style="font-size: 0.7em;">Cardápio</mat-card-title>
            <mat-card-subtitle style="font-size: 0.8em;">Menu</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>menu_book</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a [routerLink]="['/carrinho']" routerLinkActive="active"
          class="nav-link">
          <mat-card class="example-card" 
                    [ngStyle]="{'background-color':fundoColoridoPedido ? '#fad42e' : ''}"  
                    style=" border: 2px solid blue; 
                            width: 4em; 
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title style="font-size: 0.7em;">Pedido</mat-card-title>
            <mat-card-subtitle style="font-size: 0.8em;">Order</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>shopping_cart</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a [routerLink]="['/pedido']" routerLinkActive="active"
          class="nav-link">
          <mat-card class="example-card" 
                    [ngStyle]="{'background-color':fundoColoridoPedido ? '#fad42e' : ''}"  
                    style=" border: 2px solid blue; 
                            width: 4em; 
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title style="font-size: 0.7em;">Cozinha</mat-card-title>
            <mat-card-subtitle style="font-size: 0.8em;">Cook</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>restaurant_menu</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a [routerLink]="['/pedidoBar']" routerLinkActive="active"
          class="nav-link">
          <mat-card class="example-card" 
                    [ngStyle]="{'background-color':fundoColoridoPedido ? '#fad42e' : ''}"  
                    style="border: 2px solid blue; 
                           width: 4em; 
                           align-items: center;">
            <mat-card-title style="font-size: 0.7em;">Bar</mat-card-title>
            <mat-card-subtitle style="font-size: 0.8em;">Bar</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>liquor</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a [routerLink]="['/entrega']" routerLinkActive="active"
          class="nav-link">
          <mat-card class="example-card" 
                    [ngStyle]="{'background-color':fundoColoridoPedido ? '#fad42e' : ''}"  
                    style=" border: 2px solid blue; 
                            width: 4em; 
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                             ">

            <mat-card-title style="font-size: 0.7em;">Entrega</mat-card-title>
            <mat-card-subtitle style="font-size: 0.8em;">Delivery</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>room_service</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  
  <!-- MOBILE-PEQUENO -->
  
  <div class="container mobile-pequeno">
    <div class="content" >
      <mat-grid-list cols="5" rowHeight="5em"  style="margin-right: 1em;">
        <mat-grid-tile>
          <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active" class="nav-link">
          <mat-card class="example-card" 
                    [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fad42e' : ''}" 
                    style=" border: 1px solid blue; 
                            width: 3em;
                            height: 4em;
                            align-items: center;
                            box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title style="font-size: 0.6em; height: 1.5em;">Cardápio</mat-card-title>
            <mat-card-subtitle style="font-size: 0.7em; height: 1.5em;">Menu</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>menu_book</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a [routerLink]="['/carrinho']" routerLinkActive="active" class="nav-link">
          <mat-card class="example-card" 
                    [ngStyle]="{'background-color':fundoColoridoPedido ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 3em;
                            height: 4em;
                            align-items: center;">
            <mat-card-title style="font-size: 0.6em; height: 1.5em;">Pedido</mat-card-title>
            <mat-card-subtitle style="font-size: 0.7em; height: 1.5em;">Order</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>shopping_cart</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a [routerLink]="['/pedido']" routerLinkActive="active" class="nav-link">
          <mat-card class="example-card" 
                    [ngStyle]="{'background-color':fundoColoridoPedido ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 3em;
                            height: 4em;
                            align-items: center; 
                            box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title  style="font-size: 0.6em; height: 1.5em;">Cozinha</mat-card-title>
            <mat-card-subtitle  style="font-size: 0.7em; height: 1.5em;">Cook</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>restaurant_menu</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a [routerLink]="['/pedidoBar']" routerLinkActive="active"
          class="nav-link">
          <mat-card class="example-card" 
                    [ngStyle]="{'background-color':fundoColoridoPedido ? '#fad42e' : ''}"  
                    style="border: 1px solid blue; 
                            width: 3em;
                            height: 4em;
                           align-items: center;">
            <mat-card-title  style="font-size: 0.6em; height: 1.5em;">Bar</mat-card-title>
            <mat-card-subtitle  style="font-size: 0.7em; height: 1.5em;">Bar</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>liquor</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a [routerLink]="['/entrega']" routerLinkActive="active"
          class="nav-link">
          <mat-card class="example-card" 
                    [ngStyle]="{'background-color':fundoColoridoPedido ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 3em;
                            height: 4em;
                            align-items: center; 
                            box-shadow: 0 4px 6px #4cc5fd;
                            ">

            <mat-card-title  style="font-size: 0.6em; height: 1.5em;">Entrega</mat-card-title>
            <mat-card-subtitle  style="font-size: 0.7em; height: 1.5em;">Delivery</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>room_service</mat-icon>
            </mat-card-title-group>
          </mat-card>
          </a>
        </mat-grid-tile>
      </mat-grid-list> 
    </div>
  </div>

    <!-- MOBILE-PEQUENO2 -->
  
  <div class="container mobile-pequeno2">

    <mat-grid-list cols="1" rowHeight="5.5em">
      <mat-grid-tile  gutterSize="1em" >
        <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCardapio ? '#fad42e' : ''}" 
                    style=" border: 1px solid blue; 
                            width: 5.5em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title style="font-size: larger;">Cardápio</mat-card-title>
            <mat-card-subtitle>Menu</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>menu_book</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/carrinho']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoPedido ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 5.5em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title style="font-size: larger;">Pedido</mat-card-title>
            <mat-card-subtitle>Order</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>shopping_cart</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedido']" routerLinkActive="active" class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoCozinha ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 5.5em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">

            <mat-card-title style="font-size: larger;">Cozinha</mat-card-title>
            <mat-card-subtitle>Cook</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>restaurant_menu</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em">
        <a [routerLink]="['/pedidoBar']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoBar ? '#fad42e' : ''}"  
                    style=" border: 1px solid blue; 
                            width: 5.5em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">
            <mat-card-title style="font-size: larger;">Bar</mat-card-title>
            <mat-card-subtitle>Bar</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>liquor</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile  gutterSize="1em" >
        <a [routerLink]="['/entrega']" routerLinkActive="active"
          class="nav-link">
          <mat-card [ngStyle]="{'background-color':fundoColoridoEntrega ? '#fad42e' : ''}"   
                    style=" border: 1px solid blue; 
                            width: 5.5em;
                            font-size: 1em;
                            align-items: center;
                             box-shadow: 0 4px 6px #4cc5fd;
                            ">

            <mat-card-title style="font-size: larger;">Entrega</mat-card-title>
            <mat-card-subtitle>Delivery</mat-card-subtitle>
            <mat-card-title-group>
              <mat-icon>room_service</mat-icon>
            </mat-card-title-group>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
