/* 
DESKTOP
*/

.btn {
  width: 28em;
}

.btn-success {
  width: 28em;
}

.card {
  border: #4cc5fd;
  padding: 20px;
  background-color: yellow;
  color: #dcf5fc;
  width: 35em;
  box-shadow: 0 4px 6px #4cc5fd;

}

.contain{
  margin: 10rem 0 3rem 0;
}

.form-input {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #4f63e7;
  border-color: #4f63e7;
}

.form-control {
  height: 40px;
  background-color: #dcf5fc;
  text-indent: 24px;
  font-size: 15px;
  width: 26em;
}

.form-control:focus {
  background-color: #4cc5fd ;
  box-shadow: none;
  color: #041794;
  border-color: #4cc5fd;
}


.justify-content-center {
  padding-right: 20px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.otp {
  color: #4f63e7;
  border-color: #4f63e7;
}

.signup {
  height: 50px;
  font-size: 14px;
  width: 33em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}

/* 
DESKTOP
*/

.btn-desktop {
  width: 20em;
}

.btn-success-desktop {
  width: 25em;
}

.card-desktop {
  border: #4cc5fd;
  margin-left: 8em;
  margin-top: 10.8em;
  background-color: yellow;
  color: #dcf5fc;
  width: 35em;
  box-shadow: 0 4px 6px #4cc5fd;

}

.card2-desktop {
  border: #4cc5fd;
  margin-left: 8em;
  background-color: yellow;
  color: #dcf5fc;
  width: 35em;
  box-shadow: 0 4px 6px #4cc5fd;

}



.form-control-desktop {
  height: 40px;
  margin-left: 5em;
  background-color: #dcf5fc;
  text-indent: 20px;
  font-size: 13px;
  width: 21.6em;
  color: #4f63e7;
  border-color: #4f63e7;
}

.form-control:focus-desktop {
  background-color: #4cc5fd ;
  margin-left: 1em;
  box-shadow: none;
  color: #041794;
  border-color: #4cc5fd;
}

.form-input-desktop {
  position: relative;
  margin-left: 6.5em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #4f63e7;
  border-color: #4f63e7;
}

.otp-input-desktop {
  ::ng-deep .otp-input {
      width: 26px !important; /* Adjust width as needed */
      height: 30px !important; /* Adjust height as needed */
      font-size: 15px !important; /* Adjust font size as needed */
      color:#4f63e7 !important; /* Adjust font size as needed */
      border-color: #041794  !important; /* Adjust font size as needed */
      /* Add other styling properties like border, margin, etc. */
    }
}

.signup-desktop {
  height: 40px;
  font-size: 14px;
  width: 20em;
  margin-left: 4.7em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}
.signup2-desktop {
  height: 40px;
  font-size: 14px;
  width: 20em;
  margin-left: -0.9em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}

/* 
lAPTOP
*/


.btn-laptop {
  width: 20em;
}

.btn-success-laptop {
  width: 18em;
}

.card-laptop {
  border: #4cc5fd;
  margin-left: 7em;
  margin-top: 10.7em;
  background-color: yellow;
  color: #dcf5fc;
  width: 25em;
  box-shadow: 0 4px 6px #4cc5fd;

}


.card2-laptop {
  border: #4cc5fd;
  margin-left: 7em;
  background-color: yellow;
  color: #dcf5fc;
  width: 25em;
  box-shadow: 0 4px 6px #4cc5fd;

}

.form-control-laptop {
  height: 40px;
  margin-left: 1em;
  background-color: #dcf5fc;
  text-indent: 20px;
  font-size: 12px;
  width: 20em;
}

.form-control:focus-laptop {
  background-color: #4cc5fd ;
  margin-left: 1em;
  box-shadow: none;
  color: #041794;
  border-color: #4f63e7;
}


.form-input-laptop {
  position: relative;
  margin-left: 2em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #041794;
  border-color: #4f63e7;
}

.otp-input-laptop {
  ::ng-deep .otp-input {
      width: 26px !important; /* Adjust width as needed */
      height: 30px !important; /* Adjust height as needed */
      font-size: 15px !important; /* Adjust font size as needed */
      margin-left: 0.2em  !important;
      color: #041794;
      border-color: #4f63e7;
      /* Add other styling properties like border, margin, etc. */
    }

}

.signup-laptop {
  height: 40px;
  font-size: 14px;
  width: 17em;
  margin-left: 1em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}
.signup2-laptop {
  height: 40px;
  font-size: 14px;
  width: 17em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}

/* 
lAPTOP2
*/

.btn-laptop2 {
  width: 20em;
}

.btn-success-laptop2 {
  width: 18em;
}

.card-laptop2 {
  border: #4cc5fd;
  margin-left: 2em;
  margin-top: 9.7em;
  background-color: yellow;
  color: #dcf5fc;
  width: 25em;
  box-shadow: 0 4px 6px #4cc5fd;

}


.card2-laptop2 {
  border: #4cc5fd;
  margin-left: 2em;
  background-color: yellow;
  color: #dcf5fc;
  width: 25em;
  box-shadow: 0 4px 6px #4cc5fd;

}

.form-control-laptop2 {
  height: 40px;
  margin-left: 1em;
  background-color: #dcf5fc;
  text-indent: 20px;
  font-size: 12px;
  width: 20em;
}

.form-control:focus-laptop2 {
  background-color: #4cc5fd ;
  margin-left: 1em;
  box-shadow: none;
  color: #041794;
  border-color: #4cc5fd;
}


.form-input-laptop2 {
  position: relative;
  margin-left: 2em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #4f63e7;
  border-color: #4f63e7;
}

.otp-input-laptop2 {
  ::ng-deep .otp-input {
      width: 26px !important; /* Adjust width as needed */
      height: 30px !important; /* Adjust height as needed */
      font-size: 15px !important; /* Adjust font size as needed */
      margin-left: 0.2em  !important;
      /* Add other styling properties like border, margin, etc. */
    }

}

.signup-laptop2 {
  height: 40px;
  font-size: 14px;
  width: 17em;
  margin-left: 1em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}
.signup2-laptop2 {
  height: 40px;
  font-size: 14px;
  width: 17em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}


/* 
TABLET
*/

.btn-tablet {
  width: 13em;
}

.btn-success-tablet {
  width: 13em;
}

.card-tablet {
  border: #4cc5fd;
  margin-left: 13em;
  margin-top: 21.7em;
  background-color: yellow;
  color: #dcf5fc;
  width: 20em;
  box-shadow: 0 4px 6px #4cc5fd;

}


.card2-tablet {
  border: #4cc5fd;
  margin-left: 13em;
  background-color: yellow;
  color: #dcf5fc;
  width: 20em;
  box-shadow: 0 4px 6px #4cc5fd;

}

.form-control-tablet {
  height: 40px;
  margin-left: 1em;
  background-color: #dcf5fc;
  text-indent: 10px;
  font-size: 12px;
  width: 15em;
}

.form-control:focus-tablet {
  background-color: #4cc5fd ;
  margin-left: 1em;
  box-shadow: none;
  color: #041794;
  border-color: #4cc5fd;
}


.form-input-tablet {
  position: relative;
  margin-left: 2em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #4f63e7;
  border-color: #4f63e7;
}

.otp-input-tablet {
  ::ng-deep .otp-input {
      width: 20px !important; /* Adjust width as needed */
      height: 30px !important; /* Adjust height as needed */
      font-size: 15px !important; /* Adjust font size as needed */
      margin-left: 0.2em  !important;
      /* Add other styling properties like border, margin, etc. */
    }

}

.signup-tablet {
  height: 40px;
  font-size: 12px;
  width: 15em;
  margin-left: 1em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}

.signup2-tablet {
  height: 40px;
  font-size: 12px;
  width: 15em;
  margin-left: 0.7em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}

/* 
MOBILE
*/

.btn-mobile {
  width: 10em;
}

.btn-success-mobile {
  width: 10em;
}

.card-mobile {
  border: #4cc5fd;
  margin-left: 6.5em;
  margin-top: 7.2em;
  background-color: yellow;
  color: #dcf5fc;
  width: 15em;
  box-shadow: 0 4px 6px #4cc5fd;
}


.card2-mobile {
  border: #4cc5fd;
  margin-left: 6.5em;
  background-color: yellow;
  color: #dcf5fc;
  width: 15em;
  box-shadow: 0 4px 6px #4cc5fd;
}

.form-control-mobile {
  height: 40px;
  margin-left: 1em;
  background-color: #dcf5fc;
  text-indent: 10px;
  font-size: 12px;
  width: 12.5em;
}

.form-control:focus-mobile {
  background-color: #4cc5fd ;
  margin-left: 1em;
  box-shadow: none;
  color: #041794;
  border-color: #4cc5fd;
}


.form-input-mobile {
  position: relative;
  margin-left: 2em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #4f63e7;
  border-color: #4f63e7;
}

.otp-input-mobile {
  ::ng-deep .otp-input {
      width: 19px !important; /* Adjust width as needed */
      height: 30px !important; /* Adjust height as needed */
      font-size: 12px !important; /* Adjust font size as needed */
      margin-left: 0em  !important;
      /* Add other styling properties like border, margin, etc. */
    }

}

.signup-mobile {
  height: 40px;
  font-size: 12px;
  width: 12.5em;
  margin-left: 1em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}

.signup2-mobile {
  height: 40px;
  font-size: 12px;
  width: 15em;
  margin-left: 0.7em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}

/* 
MOBILE PEQUENO
*/

.btn-mobile-pequeno {
  width: 10em;
}

.btn-success-mobile-pequeno {
  width: 10em;
}

.card-mobile-pequeno {
  border: #4cc5fd;
  margin-left: 3.4em;
  margin-top: 5.9em;
  background-color: yellow;
  color: #dcf5fc;
  width: 15em;
  box-shadow: 0 4px 6px #4cc5fd;
}


.card2-mobile-pequeno {
  border: #4cc5fd;
  margin-left: 3.4em;
  background-color: yellow;
  color: #dcf5fc;
  width: 15em;
  height: 11em;
  box-shadow: 0 4px 6px #4cc5fd;
}

.form-control-mobile-pequeno {
  height: 40px;
  margin-left: 1em;
  background-color: #dcf5fc;
  text-indent: 10px;
  font-size: 10px;
  width: 15em;
}

.form-control:focus-mobile-pequeno {
  background-color: #4cc5fd ;
  margin-left: 1em;
  box-shadow: none;
  color: #041794;
  border-color: #4cc5fd;
}


.form-input-mobile-pequeno {
  position: relative;
  margin-left: 2em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #4f63e7;
  border-color: #4f63e7;
}

.otp-input-mobile-pequeno {
  ::ng-deep .otp-input {
      width: 19px !important; /* Adjust width as needed */
      height: 30px !important; /* Adjust height as needed */
      font-size: 12px !important; /* Adjust font size as needed */
      margin-left: 0em  !important;
      /* Add other styling properties like border, margin, etc. */
    }

}

.signup-mobile-pequeno {
  height: 40px;
  font-size: 12px;
  width: 12.5em;
  margin-left: 1em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}

.signup2-mobile-pequeno {
  height: 40px;
  font-size: 12px;
  width: 15em;
  margin-left: 0.7em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}

/* 
mobile-pequeno2
*/

.btn-mobile-pequeno2 {
  width: 10em;
}

.btn-success-mobile-pequeno2 {
  width: 10em;
}

.card-mobile-pequeno2 {
  border: #4cc5fd;
  margin-left: 0.5em;
  margin-top: 3.5em;
  background-color: yellow;
  color: #dcf5fc;
  width: 15em;
  box-shadow: 0 4px 6px #4cc5fd;
}


.card2-mobile-pequeno2 {
  border: #4cc5fd;
  margin-left: 0.5em;
  background-color: yellow;
  color: #dcf5fc;
  width: 15em;
  box-shadow: 0 4px 6px #4cc5fd;
}

.form-control-mobile-pequeno2 {
  height: 40px;
  margin-left: 1em;
  background-color: #dcf5fc;
  text-indent: 10px;
  font-size: 10px;
  width: 15em;
}

.form-control:focus-mobile-pequeno2 {
  background-color: #4cc5fd ;
  margin-left: 1em;
  box-shadow: none;
  color: #041794;
  border-color: #4cc5fd;
}


.form-input-mobile-pequeno2 {
  position: relative;
  margin-left: 2em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #4f63e7;
  border-color: #4f63e7;
}

.otp-input-mobile-pequeno2 {
  ::ng-deep .otp-input {
      width: 19px !important; /* Adjust width as needed */
      height: 30px !important; /* Adjust height as needed */
      font-size: 14px !important; /* Adjust font size as needed */
      margin-left: 0em  !important;
      /* Add other styling properties like border, margin, etc. */
    }

}

.signup-mobile-pequeno2 {
  height: 40px;
  font-size: 14px;
  width: 10.5em;
  margin-left: 1em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}

.signup2-mobile-pequeno2 {
  height: 40px;
  font-size: 12px;
  width: 15em;
  margin-left: 0.7em;
  background-color: #4cc5fd;
  color: #041794;
  border-color: #4f63e7;
}


