
<div class="contain"> 
  <div class="row justify-content-center" >
    <form class="col-md-5">
      <div class="card px-5 py-5">
        <span style="color: #4f63e7; text-align: center;">Cadastro Telefone</span>
        <div class="form-input">
          <input type="text" name="phoneNumber" placeholder="Phone Number" class="form-control"
            placeholder="Entre com seu número de telefone" [(ngModel)]="phoneNumber" min="10" max="15">
        </div>
        <button class="btn btn-success mt-4 signup" (click)="getOtp()">Validar Telefone</button>
        <div id="sign-in-button"></div>
      </div>
    </form>
  </div>
  <div class="otp row justify-content-center" >
    <form class="col-md-5">
      <div class="card px-5 py-5">
        <div class="form-input" [ngStyle]="{'display': displayCode}">
          <div class="otp" >
            <ng-otp-input #ngOtpInput (onInputChange)='onOtpChange($event)' [config]='configCode' ></ng-otp-input>
            <button class="btn btn-success mt-4 signup" (click)="handleClick()">Verify OTP</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- <div id="recaptcha-container"></div> -->
</div>
