<div class='desktop'> 
  <div class="contain">
    <div class="row justify-content-center">
      <form class="col-md-5">
        <div class="card-desktop px-5 py-5">
          <span style="color: #4f63e7; text-align: center; margin-left: 10em; ">Cadastro Telefone d</span>
          <div class="form-input">
            <input type="text" name="phoneNumber" placeholder="Phone Number" class="form-control-desktop"
              placeholder="Entre com seu número de telefone" [(ngModel)]="phoneNumber" min="10" max="15">
          </div>
          <button class="btn-desktop btn-success-desktop signup-desktop" (click)="getOtp()">Enviar código SMS</button>
        </div>
      </form>
    </div>
    <div class="otp row justify-content-center">
      <form class="col-md-5">
        <div class="card2-desktop px-5 py-5">
          <div class="form-input-desktop" [ngStyle]="{'display': displayCode}">
            <div class="row otp" style="font-size: 3em;">
              <ng-otp-input #ngOtpInput (onInputChange)='onOtpChange($event)' [config]='configCode' class="otp-input-desktop"></ng-otp-input>
              <button class="signup2-desktop" style="margin-top: 1em;" (click)="handleClick()">Conferir código SMS</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id="sign-in-button"></div>

    <!-- <div id="recaptcha-container"></div> -->
  </div>
</div>

<div class='laptop'>
  <div class="contain">
    <div class="row justify-content-center">
      <form class="col-md-5">
        <div class="card-laptop px-5 py-5">
          <span style="color: #4f63e7; text-align: center; margin-left: 5.5em;">Cadastro Telefone l</span>
          <div class="form-input">
            <input type="text" name="phoneNumber" placeholder="Phone Number" class="form-control-laptop"
              placeholder="Entre com seu número de telefone" [(ngModel)]="phoneNumber" min="10" max="15">
          </div>
          <button class="btn-laptop btn-success-laptop signup-laptop" (click)="getOtp()">Enviar SMS</button>
          <div id="sign-in-button"></div>
        </div>
      </form>
    </div>
    <div class="otp row justify-content-center">
      <form class="col-md-5">
        <div class="card2-laptop px-5 py-5">
          <div class="form-input-laptop" [ngStyle]="{'display': displayCode}">
            <div class="row otp" >
              <ng-otp-input #ngOtpInput (onInputChange)='onOtpChange($event)' [config]='configCode' class="otp-input-laptop"></ng-otp-input>
              <button class="signup2-laptop" style="margin-top: 1em;" (click)="handleClick()">Conferir código SMS</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- <div id="recaptcha-container"></div> -->
  </div>
</div>

<div class='laptop2'>
  <div class="contain">
    <div class="row justify-content-center">
      <form class="col-md-5">
        <div class="card-laptop2 px-5 py-5">
          <span style="color: #4f63e7; text-align: center;  margin-left: 5.5em;">Cadastro Telefone l2</span>
          <div class="form-input">
            <input type="text" name="phoneNumber" placeholder="Phone Number" class="form-control-laptop2"
              placeholder="Entre com seu número de telefone" [(ngModel)]="phoneNumber" min="10" max="15">
          </div>
          <button class="btn-laptop2 btn-success-laptop2 signup-laptop2" (click)="getOtp()">Enviar SMS</button>
          <div id="sign-in-button"></div>
        </div>
      </form>
    </div>
    <div class="otp row justify-content-center">
      <form class="col-md-5">
        <div class="card2-laptop2 px-5 py-5">
          <div class="form-input" [ngStyle]="{'display': displayCode}">
            <div class="row otp" style="margin-left: 1.4em;">
              <ng-otp-input #ngOtpInput (onInputChange)='onOtpChange($event)' [config]='configCode' class="otp-input-laptop2"></ng-otp-input>
              <button class="signup2-laptop2" style="margin-top: 1em;" (click)="handleClick()">Conferir código SMS</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- <div id="recaptcha-container"></div> -->
  </div>
</div>

<div class='tablet'   fxLayout="row" fxLayoutAlign= "space-evenly center" >
  <div>
    <div>
      <form class="col-md-5">
        <div class="card-tablet px-5 py-5 ">
          <span style="color: #4f63e7; text-align: center;  margin-left: 3em;" >Cadastro Telefone t</span>
          <div class="form-input">
            <input type="text" name="phoneNumber" placeholder="Phone Number" class="form-control-tablet"
              placeholder="Informe número de telefone" [(ngModel)]="phoneNumber" min="10" max="15">
          </div>
          <button class="btn-tablet btn-success-tablet mt-4 signup-tablet" (click)="getOtp()">Enviar SMS</button>
          <div id="sign-in-button"></div>
        </div>
      </form>
    </div>
    <div>
      <form class="col-md-5">
        <div class="card2-tablet px-5 py-5">
          <div class="form-input" [ngStyle]="{'display': displayCode}">
            <div class="row otp" style="margin-left: 0.2em;">
              <ng-otp-input #ngOtpInput (onInputChange)='onOtpChange($event)' [config]='configCode'  class="otp-input-tablet"></ng-otp-input>
              <button class="btn-tablet btn-success-tablet mt-4 signup2-tablet" (click)="handleClick()">Conferir código SMS</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- <div id="recaptcha-container"></div> -->
  </div>
</div>

<div class='container mt-3 mobile' style=" margin-left: 1.2em;">
  <div class="contain">
    <div  class='col-8' style="display: flex; justify-content: center;">
      <form class="col-md-4">
        <div class="card-mobile px-4 py-4">
          <span style="color: #4f63e7; text-align: center; margin-left: 2em;">Cadastro Telefone m</span>
          <div class="form-input">
            <input type="text" name="phoneNumber" placeholder="Phone Number" class="form-control-mobile"
              placeholder="Informe Número de telefone" [(ngModel)]="phoneNumber" min="10" max="15">
          </div>
          <button class="btn-mobile btn-success-mobile mt-4 signup-mobile" (click)="getOtp()">Enviar SMS</button>
          <div id="sign-in-button"></div>
        </div>
      </form>
    </div>
    <div class="otp col-8" style="display: flex; justify-content: center;">
      <form class="col-md-4">
        <div class="card2-mobile px-4 py-4">
          <div class="form-input" [ngStyle]="{'display': displayCode}">
            <div class="row otp" style="margin-left: 0.2em;">
              <ng-otp-input #ngOtpInput (onInputChange)='onOtpChange($event)' [config]='configCode'  class="otp-input-mobile"></ng-otp-input>
              <button class="btn-mobile btn-success-mobile mt-4 signup-mobile" (click)="handleClick()">Conferir código SMS</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- <div id="recaptcha-container"></div> -->
  </div>
</div>

<div class='container mobile-pequeno' style=" margin-left: 1.2em;">
  <div class="contain">
    <div class="row">
      <form class="col-md-4">
        <div class="card-mobile-pequeno px-4 py-4">
          <span style="color: #4f63e7; text-align: center; margin-left: 2em;">Cadastro Telefone mp</span>
          <div class="form-input">
            <input type="text" name="phoneNumber" placeholder="Phone Number" class="form-control-mobile-pequeno"
              placeholder="Informe Número de telefone" [(ngModel)]="phoneNumber" min="10" max="15">
          </div>
          <button class="btn-mobile-pequeno btn-success-mobile-pequeno mt-4 signup-mobile-pequeno" (click)="getOtp()">Enviar SMS</button>
          <div id="sign-in-button"></div>
        </div>
      </form>
    </div>
    <div class="otp row justify-content-center">
      <form class="col-md-4">
        <div class="card2-mobile-pequeno px-4 py-4">
          <div class="form-input" [ngStyle]="{'display': displayCode}">
            <div class="row otp" style="margin-left: 0.2em;">
              <ng-otp-input #ngOtpInput (onInputChange)='onOtpChange($event)' [config]='configCode'  class="otp-input-mobile-pequeno"></ng-otp-input>
              <button class="btn-mobile-pequeno btn-success-mobile-pequeno mt-4 signup-mobile-pequeno" (click)="handleClick()">Conferir código SMS</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- <div id="recaptcha-container"></div> -->
  </div>
</div>

<div class='container mobile-pequeno2' style=" margin-left: 1.2em;">
  <div class="contain">
    <div class="row">
      <form class="col-md-4">
        <div class="card-mobile-pequeno2 px-4 py-4">
          <span style="color: #4f63e7; text-align: center; margin-left: 2em;">Cadastro Telefone pq2</span>
          <div class="form-input">
            <input type="text" name="phoneNumber" placeholder="Phone Number" class="form-control-mobile-pequeno2"
              placeholder="Informe Número de telefone" [(ngModel)]="phoneNumber" min="10" max="15">
          </div>
          <button class="btn-mobile-pequeno2 btn-success-mobile-pequeno2 mt-4 signup-mobile-pequeno2" (click)="getOtp()">Enviar SMS</button>
          <div id="sign-in-button"></div>
        </div>
      </form>
    </div>
    <div class="otp row justify-content-center">
      <form class="col-md-4">
        <div class="card2-mobile-pequeno2 px-4 py-4">
          <div class="form-input" [ngStyle]="{'display': displayCode}">
            <div class="row otp" style="margin-left: 0.2em;">
              <ng-otp-input #ngOtpInput (onInputChange)='onOtpChange($event)' [config]='configCode'  class="otp-input-mobile-pequeno2"></ng-otp-input>
              <button class="btn-mobile-pequeno2 btn-success-mobile-pequeno2 mt-4 signup-mobile-pequeno2" (click)="handleClick()">Conferir código SMS</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- <div id="recaptcha-container"></div> -->
  </div>
</div>


